<meta charset="UTF-8" />
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 ml-auto">

            </div>
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
                        <a th:href="@{/home}" class="nav-link active"><i class="fe fe-home"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Reclamações</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a th:href="@{/registar/reclamacao}" class="dropdown-item ">Registar</a>
                            <a th:href="@{/listar/reclamacao}" class="dropdown-item ">Listar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-file"></i> Parametrização</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="./profile.html" class="dropdown-item ">Registar</a>
                            <a href="./login.html" class="dropdown-item ">Listar</a>
                            <a href="./register.html" class="dropdown-item ">Register</a>
                            <a href="./forgot-password.html" class="dropdown-item ">Forgot password</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>