<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 <meta charset="UTF-8">
<div style="background: #fff" class="navbar-expand-md" xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="background: #fff" class="collapse navbar-collapse" id="navbar-menu">
        <div style="background: #fff" class="navbar navbar-light">
            <div class="container-xl">
                <ul class="navbar-nav">
                    <li class="nav-item active" sec:authorize="hasAnyAuthority('ROLE_OPERADOR','ROLE_ADMIN','ROLE_OBSERVADOR')" >
                        <a class="nav-link" th:href="@{/dashboard}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                            	<i style="font-size: 15pt; color: #0277BD" class="fas fa-home"></i>
                            </span>

                            <span class="nav-link-title">
                                Painel Principal
                            </span>
                        </a>
                    </li>

                    <li class="nav-item " sec:authorize="hasAnyAuthority('ROLE_OPERADOR','ROLE_ADMIN')" >
                        <a class="nav-link"   th:href="@{/listar/ocorrencia}" >

                             <span class="nav-link-icon d-md-none d-lg-inline-block">
								<i style="font-size: 15pt; color: #0277BD" class="far fa-comments"></i>
                            </span>

                            <span class="nav-link-title">
                                Ocorrências
                            </span>
                        </a>
                    </li>

                    <li class="nav-item " sec:authorize="hasAnyAuthority('ROLE_OBSERVADOR')" >
                        <a class="nav-link"   th:href="@{/ocorrencia/observador}" >

                             <span class="nav-link-icon d-md-none d-lg-inline-block">
								<i style="font-size: 15pt; color: #0277BD" class="far fa-comments"></i>
                            </span>

                            <span class="nav-link-title">
                                Ocorrências
                            </span>
                        </a>
                    </li>



                    <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" >
                        <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" role="button" aria-expanded="false" >

                    <span class="nav-link-icon d-md-none d-lg-inline-block">
								<i style="font-size: 15pt; color: #0277BD" class="fad fa-cogs"></i>
                            </span>
                            <span class="nav-link-title">
                      Parametrização
                    </span>
                        </a>
                        <div class="dropdown-menu">
                           <!--  <a class="dropdown-item" th:href="@{/listar/posto}" >
                                Posto Administrativo
                            </a> -->
                            
                            <a class="dropdown-item" th:href="@{/listar/categoria}" >
                                Categoria
                            </a>
                            
                            <a class="dropdown-item" th:href="@{/listar/cidade}" >
                                Cidade
                            </a>

                            <a class="dropdown-item" th:href="@{/listar/regioes}" >
                                Regiao
                            </a>
                            
                            <a class="dropdown-item" th:href="@{/listar/empreiteiro}" >
                                Empreiteiro
                            </a>
                            
                             <a class="dropdown-item" th:href="@{/listar/projecto}" >
                                Projecto
                            </a>
                            
                             <a class="dropdown-item" th:href="@{/listar/tipoAlerta}" >
                                Tipo de Alerta
                            </a>
                            
                            <a class="dropdown-item" th:href="@{/listar/tipoOcorrencia}" >
                                Tipo de Ocorrência
                            </a>
                           
                            <a class="dropdown-item" th:href="@{/listar/tipoqueixa}" >
                                Tipo de Queixa
                            </a>
                            
                           
                            
                            
                            <!-- <a class="dropdown-item" th:href="@{/listar/teste}" >
                                teste
                            </a> -->
                        </div>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" role="button" aria-expanded="false" >

                     <span class="nav-link-icon d-md-none d-lg-inline-block">
								<i style="font-size: 15pt; color: #0277BD" class="fad fa-user-cog"></i>
                            </span>
                    
                    
                    
                    
                            <span class="nav-link-title">
                      Administração
                    </span>
                        </a>
                        <div class="dropdown-menu">
                            <!--  <a class="dropdown-item" th:href="@{/listar/posto}" >
                                 Posto Administrativo
                             </a> -->

                            <a class="dropdown-item" th:href="@{/listar/origem}" >
                                Origem Ocorrencia
                            </a>

                            <a class="dropdown-item" th:href="@{/listar/processos}" >
                                Processo da Ocorrencia
                            </a>

                            <a class="dropdown-item" th:href="@{/listar/usuarios}" >
                                Utilizador
                            </a>

                            <a class="dropdown-item" th:href="@{/listar/perfils}" >
                                Permissoes
                            </a>

                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>

</html>