 <meta charset="UTF-8">
<div class="navbar-expand-md" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar navbar-light">
            <div class="container-xl">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                            </span>

                            <span class="nav-link-title">
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{/listar/ocorrencia}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                            </span>

                            <span class="nav-link-title">
                                Ocorrências
                            </span>
                        </a>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" role="button" aria-expanded="false" >

                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                    </span>
                            <span class="nav-link-title">
                      Parametrização
                    </span>
                        </a>
                        <div class="dropdown-menu">
                           <!--  <a class="dropdown-item" th:href="@{/listar/posto}" >
                                Posto Administrativo
                            </a> -->
                            
                            <a class="dropdown-item" th:href="@{/listar/categoria}" >
                                Categoria
                            </a>
                            
                            <a class="dropdown-item" th:href="@{/listar/cidade}" >
                                Cidade
                            </a>
                            
                            <a class="dropdown-item" th:href="@{/listar/empreiteiro}" >
                                Empreiteiro
                            </a>
                            
                             <a class="dropdown-item" th:href="@{/listar/projecto}" >
                                Projecto
                            </a>
                            
                             <a class="dropdown-item" th:href="@{/listar/tipoAlerta}" >
                                Tipo de Alerta
                            </a>
                            
                            <a class="dropdown-item" th:href="@{/listar/tipoOcorrencia}" >
                                Tipo de Ocorrência
                            </a>
                           
                            <a class="dropdown-item" th:href="@{/listar/tipoqueixa}" >
                                Tipo de Queixa
                            </a>
                            
                           
                            
                            
                            <!-- <a class="dropdown-item" th:href="@{/listar/teste}" >
                                teste
                            </a> -->
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>