<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
</head>
<body>
<div  layout:fragment="corpo">


    <script>

        function myFunction() {
          var csenha = document.getElementById("confirm_password").value;
          var senha = document.getElementById("password").value;

          if(csenha==senha){
            document.getElementById("demo").innerHTML = "";
          }else{
            document.getElementById("demo").innerHTML = "As senhas não coincidem";
          }


        }
    </script>

    <script type="text/javascript">

        function onChangeSimLocal(){

         var estado = document.getElementById("statuslocal");

            if(estado.value=="L"){
                document.getElementById("local").style.display="block";
                document.getElementById("nacional").style.display="none";
                document.getElementById("regional").style.display="none";
            }

        }

        function onChangeSimRegional(){

         var estado = document.getElementById("statusregional");

            if(estado.value=="R"){

            document.getElementById("local").style.display="none";
            document.getElementById("regional").style.display="block";
            document.getElementById("nacional").style.display="none";

            }

        }

        function onChangeSimNacional(){

         var estado = document.getElementById("statusnacional");

            if(estado.value=="N"){

             document.getElementById("local").style.display="none";
             document.getElementById("regional").style.display="none";
             document.getElementById("nacional").style.display="block";


            }

        }

      </script>

    <script type="text/javascript">

        function onChangeSimLocal(){

         var estado = document.getElementById("statuslocal");

            if(estado.value=="L"){
                document.getElementById("local").style.display="block";
                document.getElementById("regional").style.display="none";
            }

        }

        function onChangeSimRegional(){

         var estado = document.getElementById("statusregional");

            if(estado.value=="R"){

            document.getElementById("local").style.display="none";
            document.getElementById("nacional").style.display="none";

            }

        }

        function onChangeSimNacional(){

         var estado = document.getElementById("statusnacional");

            if(estado.value=="N"){

             document.getElementById("local").style.display="none";
             document.getElementById("nacional").style.display="block";


            }

        }




      </script>

    <!-- Conteudo -->

    <div align="left" class="col-12">
        <a class="btn btn-success btn-md mb-3" th:href="@{/listar/usuarios}" role="button">
            <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
            <span>Voltar</span>
        </a>
    </div>

    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
        <div  class="card-header">
            <h3 style="font-weight: bolder;color: #60a18a;; " class="card-title">Cadastrar Utilizador</h3>
        </div>
        <!--  <div th:replace="fragmentos/alert" class="card-body"> -->
        <div class="card-body">

             <form  role="c_usuario" id="c_usuario" th:object="${user}"  th:action="@{/cadastrar/usuarios}"  method="post" >

                <div class="row">

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Nome</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{nome}"  class="form-control" required placeholder="Digite o nome"  >
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Telefone</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{telefone}" class="form-control" required placeholder="Digite o numero de telefone"  >
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    
                    <div class="row">

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Utilizador</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{username}" class="form-control" required placeholder="Digite o nome"  >
                            </div>
                        </div>
                    </div>

                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                    <input type="text" th:field="*{email}" class="form-control" required placeholder="Digite o numero de telefone"  >
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    
                    <div class="row">

                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Senha</label>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                    <input type="password" th:field="*{password}" id="password" class="form-control" required >
                                </div>
                            </div>
                        </div>
                    
                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Confirmar Senha</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="password" oninput="myFunction()" required id="confirm_password"  class="form-control" >
                                <p id="demo" style="color:red"></p>
                            </div>
                        </div>
                    </div>
	


                   
                    </div>




                    <br style="margin-top: 30">
					
                    <div class="row" >

                        <div class="col-6 col-sm-6">

                            <div class="form-group">
                                <label class="form-label">Área de Gestão</label>
                            </div>

                            <div id="local" class="col-12 col-sm-12">
                                <div class="form-group">
                                    <select style="padding-bottom:5px"  class="form-control custom-select form-select" th:field="*{provincia}"  >
                                        <option value="">Selecione a Província...</option>
                                        <option th:each="p : ${provincias}"
                                                th:value="${p.id}" th:text="${p.designacao}">Maputo</option>

                                    </select>
                                </div>
                            </div>


                        </div>


                        <div class="col-6 col-sm-3">
                            <div class="form-group">
                                <label class="form-label">Alertas GBV</label>
                            </div>

                            <th:block>

                                <div class="card mt-2">

                                    <div  class="card-header">

                                        <div class="form-check-inline" >
                                            <label class="form-check-label">
                                                <input  type="checkbox"  th:field="*{tipogbv}" value="Sim"> Sim
                                            </label>
                                        </div>


                                    </div>
                                </div>

                            </th:block>

                        </div>

                        <div class="col-6 col-sm-3">
                            <div class="form-group">
                                <label class="form-label">Alertas Urgentes</label>
                            </div>

                            <th:block>

                                <div class="card mt-2">

                                    <div  class="card-header">

                                        <div class="form-check-inline" >
                                            <label class="form-check-label">
                                                <input  type="checkbox"  th:field="*{tipourgente}" value="Sim"> Sim
                                            </label>
                                        </div>


                                    </div>
                                </div>

                            </th:block>

                        </div>


                    </div>


                 <div class="row">
                     <div  class="col-6 col-sm-6">
                         <div class="form-group">
                             <label for="local" class="form-label">Nivel de Responsabilidade</label>
                             <select  class="form-control custom-select form-select" th:field="*{nivel}" >
                                 <option th:each="p : ${niveis}" th:value="${p.id}" th:text="${p.responsavel}">Maputo</option>
                             </select>
                         </div>
                     </div>
                 </div>


                 <div class="row" >

                     <div class="col-12 col-sm-12">
                         <div class="form-group">
                             <label class="form-label">Projectos</label>
                         </div>

                         <th:block>

                             <div class="card mt-2">

                                 <div  class="card-header" >

                                     <div class="form-check-inline" th:each="projecto: ${projectos}" >
                                         <label class="form-check-label">
                                             <input  type="checkbox" name="projectos" multiple="true" th:value="${projecto.id}"  />
                                             <span  th:text="${projecto.designacao}"></span>
                                         </label>
                                     </div>

                                 </div>
                             </div>

                         </th:block>

                     </div>


                 </div>





                 <div class="row" >

                     <div class="col-6 col-sm-6">

                         <div class="form-group">
                             <label class="form-label">Perfils</label>


                         </div>





                         <th:block>

                             <div class="card mt-2">

                                 <div  class="card-header" >

                                     <div class="form-check-inline" th:each="role1: ${perfils}" >
                                         <label class="form-check-label">
                                             <input required  th:if="${role1.designacao!='Validador' && role1.designacao!='Administrador' }" type="radio" th:field="*{roles}" multiple="true" th:value="${role1.id}"  />
                                             <span th:if="${role1.designacao!='Validador' && role1.designacao!='Administrador'}" th:text="${role1.designacao}"></span>
                                         </label>
                                     </div>

                                 </div>
                             </div>

                         </th:block>

                     </div>

                     <div class="col-3 col-sm-3">
                         <div class="form-group">
                             <label class="form-label" style="color:white">.</label>
                         </div>

                         <th:block>

                             <div class="card mt-2">

                                 <div  class="card-header" >

                                     <div class="form-check-inline" th:each="role1: ${perfils}" style="padding-left: 0%" >
                                         <label class="form-check-label" style="padding-left: 0%">
                                             <input type="checkbox" th:if="${role1.designacao=='Administrador'}"  th:field="*{roles}" multiple="true" th:value="${role1.id}"  />
                                             <span  th:if="${role1.designacao=='Administrador'}" >Administrador</span>
                                         </label>
                                     </div>


                                 </div>
                             </div>

                         </th:block>

                     </div>


                     <div class="col-3 col-sm-3">
                         <div class="form-group">
                             <label class="form-label" style="color:white">.</label>
                         </div>

                         <th:block>

                             <div class="card mt-2">

                                 <div  class="card-header" >

                                     <div class="form-check-inline" th:each="role1: ${perfils}" style="padding-left: 0%" >
                                         <label class="form-check-label" style="padding-left: 0%">
                                             <input type="checkbox" th:if="${role1.designacao=='Validador'}"  th:field="*{roles}" multiple="true" th:value="${role1.id}"  />
                                             <span  th:if="${role1.designacao=='Validador'}" >Validar registo</span>
                                         </label>
                                     </div>


                                 </div>
                             </div>

                         </th:block>

                     </div>

                 </div>


                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-success">Gravar </button>
                </div>
            </form>




        </div>

    </div>
    <!-- Conteudo-->
</div>

</body>
</html>