<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <title>FIPAG</title>
</head>
<body>
<div  layout:fragment="corpo">

    <script type="text/javascript">
        let fileInput = document.getElementById("file");
        let numOfFiles = document.getElementById("num-of-files");
        let imageContainer = document.getElementById("images");

        function preview(){

           document.getElementById("num-of-files").innerHTML = "";

           numOfFiles.textContent = '${fileInput.files.length} Anexos Selecionados';
        }

    </script>

    <script type="text/javascript">

    $(document).ready(function(){
        $('#comboboxProvincias').on('change',function(){

          var provinciaId = $(this).val();

        //  alert(provinciaId);

          $.ajax({
          type: 'GET',

         //url: 'http://fipag.herokuapp.com/distrito/'+provinciaId,
         url: 'http://localhost:9090/distrito/'+provinciaId,
       // url: 'portal.fipag.co.mz/grm/distrito/'+provinciaId,

           success: function (result){
           var result = JSON.parse(result);
           var s = '';
          for(var i=0; i< result.length; i++){
              s+='<option value="'+result[i].id+'">'+result[i].designacao+'</option>';
          }
        $('#comoboxDistrito').html(s);
    }
});

        });
    });
    </script>

    <script type="text/javascript">

    $(document).ready(function(){
        $('#comoboxDistrito').on('change',function(){

          var distritoId = $(this).val();

         // alert(distritoId);

          $.ajax({
          type: 'GET',
         url: 'http://localhost:9090/posto/'+provinciaId,
         //url: 'http://fipag.herokuapp.com/posto/'+distritoId,
        	//url: 'portal.fipag.co.mz/grm/posto/'+distritoId,

           success: function (result){
           var result = JSON.parse(result);
           var s = '';
          for(var i=0; i< result.length; i++){
              s+='<option value="'+result[i].id+'">'+result[i].designacao+'</option>';
          }
        $('#comboboxPosto').html(s);
    }
});


        });
    });
    </script>

    <script type="text/javascript">
      	function onChangeStatus(){

      		var status = document.getElementByName("tipo").value;


      		if(status=="L"){

      			document.getElementById("local").style.display="block";

      		}else{

      		    document.getElementById("regional").style.display="none";
      		    document.getElementById("nacional").style.display="none";
      		}

      		if(status=="R"){

      			document.getElementById("regional").style.display="block";

      		}else{

      		    document.getElementById("nacional").style.display="none";
      		    document.getElementById("local").style.display="none";

      		}

      		if(status=="N"){

      			document.getElementById("nacional").style.display="block";

      		}else{

      		    document.getElementById("regional").style.display="none";
      		    document.getElementById("local").style.display="none";
      		}
      	}



      </script>
    <!-- Conteudo -->

    <div align="right" class="col-12">
        <a class="btn btn-primary btn-md mb-3" th:href="@{/listar/usuarios}" role="button">
            <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
            <span>Listar Usuarios</span>
        </a>
    </div>

    <div class="card">
        <div  class="card-header">
            <h3 style="font-weight: bolder;color: #0277BD; " class="card-title">CADASTRO DE USUARIO</h3>
        </div>
        <!--  <div th:replace="fragmentos/alert" class="card-body"> -->
        <div class="card-body">

             <form  role="c_usuario" id="c_usuario" th:object="${user}"  th:action="@{/cadastrar/usuarios}"  method="post" >

                <div class="row">

                    <div class="col-12 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Nome</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{nome}"  class="form-control" required placeholder="Digite o nome"  >
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Telefone</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{telefone}" class="form-control" required placeholder="Digite o numero de telefone"  >
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Utilizador</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{username}" class="form-control" required placeholder="Digite o nome"  >
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Senha</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{password}" class="form-control" required placeholder="Digite o numero de telefone"  >
                            </div>
                        </div>
                    </div>


                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{email}" class="form-control" required placeholder="Digite o numero de telefone"  >
                            </div>
                        </div>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>



                    <br>
                    <br>
                    <br style="margin-top: 100">

                    <div class="row" style="margin-top: 30">
                        <br><br>
                        <th:block >

                            <div class="col-4 col-sm-4">
                                <div class="form-group">
                                    <input onclick="onChangeStatus()"  type="radio" id="statuslocal" name="tipo" value="L" >
                                    <label for="statuslocal">Local</label>
                                </div>
                            </div>

                            <div class="col-4 col-sm-4">
                                <div class="form-group">
                                    <input onclick="onChangeStatus()" type="radio" id="statusregional" name="tipo" value="R">
                                    <label for="statusregional">Regional</label>
                                </div>
                            </div>

                            <div class="col-4 col-sm-4">
                                <div class="form-group">
                                    <input onclick="onChangeStatus()" type="radio" id="statusnacional" name="tipo" value="N">
                                    <label for="statusnacional">Nacional</label>
                                </div>
                            </div>


                        </th:block>


                    </div>

                    <div style="display: none" id="local" class="col-6 col-sm-6">
                        <div class="form-group">
                            <label for="local" class="form-label">Cidade</label>
                            <select  class="form-control custom-select form-select" th:field="*{cidade}"  >
                                <option value="">Selecione a Cidade...</option>
                                <option th:each="p : ${cidades}"
                                        th:value="${p.id}" th:text="${p.designacao}">Maputo</option>

                            </select>
                        </div>
                    </div>

                    <div style="display: none" id="regional" class="col-6 col-sm-6">
                        <div class="form-group">
                            <label for="regional" class="form-label">Regiao</label>
                            <select  class="form-control custom-select form-select" th:field="*{regiao}"  >
                                <option  value="">Selecione a Regiao...</option>
                                <option th:each="p : ${regioes}"
                                        th:value="${p.id}" th:text="${p.designacao}">Maputo</option>

                            </select>
                        </div>
                    </div>

                    <div style="display: none" id="nacional" class="col-6 col-sm-6">
                        <div class="form-group">
                            <label for="nacional" class="form-label">Regiao</label>
                            <select  class="form-control custom-select form-select" th:field="*{regiao}"  >
                                <option  th:each="p : ${regioes}"
                                        th:value="${p.id}" th:text="${p.designacao}" th:if="${p.id == 3}" selected disabled >Maputo</option>

                            </select>
                        </div>
                    </div>
                    <br><br>

                    <div class="row">
                      <div class="form-group">
                        <label class="form-label">Perfils</label>
                            <th:block th:each="role1: ${perfils}">

                                     <input style="width: 300; height: 100; padding: 90" type="checkbox" th:field="*{roles}" multiple="true" th:value="${role1.id}" th:text="${role1.designacao}" />

                            </th:block>
                      </div>


                    </div>





                </div>

                <br>


                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-success">Gravar </button>
                </div>
            </form>




        </div>

    </div>
    <!-- Conteudo-->
</div>

</body>
</html>