<!DOCTYPE html>



<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>FIPAG</title>

  <style>

    /* jQuery loading autocomplete */
.ui-autocomplete-loading {
  background: white url("/image/ui-anim_basic_16x16.gif") right center no-repeat;
}


#tabela th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size:12px;
}


#tabela tr {
	background-color: #fff;
}


</style>


</head>





<body>





<div  layout:fragment="corpo">
  <!-- Conteudo -->



  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <a class="btn btn-primary btn-md" th:href="@{/registar/usuarios}" role="button">
          <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
          <span>Nova Usuario</span>
        </a>

      </div>

      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          <div class="text-muted">
            <h3 style="font-weight:bolder; padding: 0px; margin: 0px;" class="card-title">Usuarios</h3>
          </div>
          <div class="ms-auto text-muted">
            Procurar:
            <div class="ms-2 d-inline-block">
              <input id="txtSearch" name="keyword"  type="text" class="form-control form-control-sm" aria-label="Search invoice">
            </div>
          </div>
        </div>
      </div>



      <div class="table-responsive">
        <table id="tabela" class="table card-table table-vcenter text-nowrap datatable">
          <!-- <table id="tabela" class="table table-sm table-striped table-bordered nowrap" style="width:100%"> -->
          <thead>
          <tr style="color: rgb(65,105,225)">
            <td class="w-4">No</td>
            <td >Nome</td>
            <td >Tipo</td>
            <td >Telefone</td>
            <td>Cidade/Regiao</td>
            <td>Email</td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="p, index : ${usuarios}">
            <!--                     <tr th:each="p : ${ocorrencias}"> -->
            <td style="background: #fff" th:text="${index.count}"><span class="text-muted">01401</span></td>
            <td style="background: #fff" th:text="${p.nome}"><span class="text-muted">01401</span></td>
            <td style="background: #fff" th:if="${p.tipo =='L' }"  > Local </td>
            <td style="background: #fff" th:if="${p.tipo =='R' }"  > Regional </td>
            <td style="background: #fff" th:if="${p.tipo =='N' }"  > Nacional </td>
            <td style="background: #fff" th:text="${p.telefone}">

            </td>
            <td style="background: #fff" th:if="${p.tipo =='L' }"  >
              <span class="text-muted" th:text="${p.cidade.designacao}" >01401</span>
            </td>
            <td style="background: #fff" th:if="${p.tipo !='L' }"  >
              <span class="text-muted" th:text="${p.regiao.designacao}" >01401</span>
            </td>
            <td th:text="${p.email}">Auxiliar Contábil</td>

          </tr>


          </tbody>
        </table>

      </div>

    </div>
  </div>



</div>
</body>
</html>