<!DOCTYPE html>



<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">

  <style>

    /* jQuery loading autocomplete */
.ui-autocomplete-loading {
  background: white url("/image/ui-anim_basic_16x16.gif") right center no-repeat;
}


#tabela th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size:12px;
}


#tabela tr {
	background-color: #fff;
}


</style>


</head>





<body>





<div  layout:fragment="corpo">
  <!-- Conteudo -->



  <div class="col-12">
    <div class="card">

      <br>

      <div style="padding-right:12px; padding-left:12px" class="table-responsive">
        <table id="example" class="display">
          <thead>
          <tr style="color: rgb(65,105,225)">
            <td class="w-4">No</td>
            <td >Perfil</td>
            <td >Designacao</td>
            <td>Descricao</td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="p, index : ${perfils}">
            <!--                     <tr th:each="p : ${ocorrencias}"> -->
            <td style="background: #fff" th:text="${index.count}"><span class="text-muted">01401</span></td>
            <td style="background: #fff" th:text="${p.role}"><span class="text-muted">01401</span></td>
            <td style="background: #fff" th:text="${p.designacao}"><span class="text-muted">01401</span></td>
            <td style="background: #fff" th:text="${p.descricao}"><span class="text-muted">01401</span></td>

          </tr>


          </tbody>
        </table>

      </div>

    </div>
  </div>



</div>
</body>
</html>