<!DOCTYPE html>



<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">

  <style>

    /* jQuery loading autocomplete */
.ui-autocomplete-loading {
  background: white url("/image/ui-anim_basic_16x16.gif") right center no-repeat;
}


#tabela th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size:12px;
}


#tabela tr {
	background-color: #fff;
}


</style>


</head>





<body>





<div  layout:fragment="corpo">
  <!-- Conteudo -->



  <div class="col-12">
    <div class="card">

      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          <div class="text-muted">
            <h3 style="font-weight:bolder; padding: 0px; margin: 0px;" class="card-title">Permissoes</h3>
          </div>
          <div class="ms-auto text-muted">
            Procurar:
            <div class="ms-2 d-inline-block">
              <input id="txtSearch" name="keyword"  type="text" class="form-control form-control-sm" aria-label="Search invoice">
            </div>
          </div>
        </div>
      </div>



      <div class="table-responsive">
        <table id="tabela" class="table card-table table-vcenter text-nowrap datatable">
          <!-- <table id="tabela" class="table table-sm table-striped table-bordered nowrap" style="width:100%"> -->
          <thead>
          <tr style="color: rgb(65,105,225)">
            <td class="w-4">No</td>
            <td >Perfil</td>
            <td >Designacao</td>
            <td>Descricao</td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="p, index : ${perfils}">
            <!--                     <tr th:each="p : ${ocorrencias}"> -->
            <td style="background: #fff" th:text="${index.count}"><span class="text-muted">01401</span></td>
            <td style="background: #fff" th:text="${p.role}"><span class="text-muted">01401</span></td>
            <td style="background: #fff" th:text="${p.designacao}"><span class="text-muted">01401</span></td>
            <td style="background: #fff" th:text="${p.descricao}"><span class="text-muted">01401</span></td>

          </tr>


          </tbody>
        </table>

      </div>

    </div>
  </div>



</div>
</body>
</html>