<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/image/logoa.png}">
    <title>FIPAG</title>
</head>
<body>
<div  layout:fragment="corpo">
    <!-- Conteudo -->

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Detalhes da Ocorrência</h3>
        </div>
        <div class="card-body">
		<form th:action="@{/ocorrencias/listar}"
	                  th:object="${ocorrencia}" method="POST">
	                  
	       <input type="hidden" th:field="*{id}" class="form-control" placeholder="Designação..."> 


            <div class="row" >
            
            <!--BLOCO 1  -->

            <div class="col-6 col-sm-12">
            	<div class="form-group">
            		<span style="font-size:50px; color: red; font-weight: bolder;">Nr. </span> <span style="font-size:50px; color: red; font-weight: bolder;" th:text="${ocorrencia.id}"></span>
            	</div>
            </div>
            
            <div class="col-6 col-sm-12">
            	<div class="form-group">
            		<!-- <span style="font-size:25px; color: green; font-weight: bolder;">Nr. --> 
            		</span> <span style="font-size:25px; color: green; font-weight: bolder;" th:text="${ocorrencia.valido}"></span>
            	</div>
            </div>

            <!--BLOCO 1  -->

            <div class="col-6 col-sm-4">
            	<div class="form-group">
            			<span style="font-weight: bolder;">Data da Ocorrência: </span> <span th:text="${#dates.format(ocorrencia.dataOcorrencia, 'dd/MM/yyyy')}"></span>
            			
            	</div>
            </div>
            
            
            <div class="col-6 col-sm-4">
            	<div class="form-group">
            			<span style="font-weight: bolder;">Província: </span><span th:text="${ocorrencia.provincia.designacao}"></span>
            	</div>
            </div>
            

            <div class="col-6 col-sm-4">
            	<div class="form-group">
            		<span style="font-weight: bolder;">Distrito: </span>	<span th:text="${ocorrencia.distrito.designacao}"></span>
            	</div>
            </div>
            
            <!--BLOCO 2  -->

            <div class="col-6 col-sm-4" th:if="${ocorrencia != null && ocorrencia.postoAdministrativo != null && ocorrencia.postoAdministrativo.designacao != null}">

            	<div class="form-group">
            		<span style="font-weight: bolder;">Posto Administrativo: </span>	<span th:text="${ocorrencia.postoAdministrativo.designacao}"></span>
            	</div>
            </div>
            
            <div class="col-6 col-sm-4">
            	<div class="form-group">
            			<span style="font-weight: bolder;">Cidade: </span><span th:text="${ocorrencia.cidade.designacao}"></span>
            	</div>
            </div>
            
            <div class="col-6 col-sm-4">
            	<div class="form-group">
            			<span style="font-weight: bolder;">Projecto: </span><span th:text="${ocorrencia.projecto.designacao}"></span>
            	</div>
            </div>
            
            <div class="col-6 col-sm-4">
            	<div class="form-group">
            			<span style="font-weight: bolder;">Empreiteiro: </span><span th:text="${ocorrencia.empreiteiro.nome}"></span>
            	</div>
            </div>
            
            <div class="col-6 col-sm-4">
            	<div class="form-group">
            		<span style="font-weight: bolder;">Comunidade: </span>	<span th:text="${ocorrencia.comunidade}"></span>
            	</div>
            </div>
            
            
              <!--BLOCO 3  -->
            
            <div class="col-6 col-sm-4">
            	<div class="form-group">
            		<span style="font-weight: bolder;">Nome do Utente: </span>	<span th:text="${ocorrencia.nomeUtente}"></span>
            	</div>
            </div>
            

            <div class="col-6 col-sm-4">
            	<div class="form-group">
            		<span style="font-weight: bolder;">Endereço do Utente: </span>	<span th:text="${ocorrencia.moradaUtente}"></span>
            	</div>
            </div>
            
            
            <div class="col-6 col-sm-4">
            	<div class="form-group">
            		<span style="font-weight: bolder;">Email do Utente: </span>	<span th:text="${ocorrencia.emailUtente}"></span>
            	</div>
            </div>
            
            <!--BLOCO 4  -->
            
            <div class="col-6 col-sm-4">
            	<div class="form-group">
            		<span style="font-weight: bolder;">Forma de Comunicação: </span>	<span th:text="${ocorrencia.formaComunicacao}"></span>
            	</div>
            </div>
            
            <div class="col-6 col-sm-4">
            	<div class="form-group">
            		<span style="font-weight: bolder;">Nome do Grupo: </span>	<span th:text="${ocorrencia.nomeGrupo}"></span>
            	</div>
            </div>
            

            <div class="col-6 col-sm-4">
            	<div class="form-group">
            		<span style="font-weight: bolder;">Sexo: </span>	<span th:text="${ocorrencia.sexo}"></span>
            	</div>
            </div>
            
             <!--BLOCO 5  -->
             
             <div class="col-6 col-sm-12">
            	<div class="form-group">
            		<span style="font-weight: bolder;">Assunto: </span>	<span th:text="${ocorrencia.descricao}"></span>
            	</div>
            </div>


				<div class="table-responsive">
					<table id="categorias" class="table card-table table-vcenter text-nowrap">
						<thead>
						<tr>
							<th class="w-1">No.</th>
							<th>Designação</th>
							<th>Data</th>
							<th>Ver</th>
							<!--  <th></th> -->
						</tr>
						</thead>
						<tbody>
						<!--  <tr th:each="p : ${categorias}"> -->
						<tr th:each="a, stat : ${anexos}">
							<td th:text="${stat.index + 1}" ><span class="text-muted">01401</span></td>
							<td th:text="${a.docName}" >Auxiliar Contábil</td>
							<td th:text="${a.created}" >Auxiliar Contábil</td>
							<td>
								<a class="icon" th:href="${'/download/ficheiro/'+a.id}">
									<i class="fe fe-eye"></i>
								</a>
							</td>

						</tr>


						</tbody>
					</table>
				</div>


            
            
            </div>


         <div class="card-footer text-right">
            <button type="submit" class="btn btn-info" >Fechar</button>
            
          <!-- <a class="btn btn-primary" th:href="${'/ocorrencias/validar/'+ocorrencia.id}" role="button">
            <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
            <span>Validação</span>
      	</a> -->
        </div>






     </form>




        </div>
        
    </div>
    <!-- Conteudo-->
</div>
</body>
</html>