<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
      
<head>
    <meta charset="UTF-8">
    <title>FIPAG</title>
</head>
<body>
<div  layout:fragment="corpo">

<script type="text/javascript">

    $(document).ready(function(){
        $('#comboboxProvincias').on('change',function(){

          var provinciaId = $(this).val();

          $.ajax({
          type: 'GET',
          url: 'pigi.fipag.co.mz/grm/distrito/'+provinciaId,
          
        //url: 'http://fipag.herokuapp.com/distrito/'+provinciaId,
         
           success: function (result){
           var result = JSON.parse(result);
           var s = '';
          for(var i=0; i< result.length; i++){
              s+='<option value="'+result[i].id+'">'+result[i].designacao+'</option>';
          }
        $('#comoboxDistrito').html(s);
    }
});


        });
    });
    
    </script>
    
    <script type="text/javascript">

    $(document).ready(function(){
        $('#comoboxDistrito').on('change',function(){

          var distritoId = $(this).val();

         // alert(distritoId);

         
         
         
          $.ajax({
          type: 'GET',
        url: 'pigi.fipag.co.mz/grm/posto/'+distritoId,
         
        //url: 'http://fipag.herokuapp.com/posto/'+provinciaId,
           success: function (result){
           var result = JSON.parse(result);
           var s = '';
          for(var i=0; i< result.length; i++){
              s+='<option value="'+result[i].id+'">'+result[i].designacao+'</option>';
          }
        $('#comboboxPosto').html(s);
    }
});


        });
    });
    </script>

	<script type="text/javascript">
      	function onChangeStatus(){
      		var status = document.getElementById("origem");
      		
      		if(status.value=="individual"){
      			
      			document.getElementById("nome").style.display="block";
      			document.getElementById("genero").style.display="block";
      			document.getElementById("comunicacao").style.display="block";
      			document.getElementById("contacto").style.display="block";
      			document.getElementById("faixaEtaria").style.display="block";
      			document.getElementById("endereco").style.display="block";
      			document.getElementById("email").style.display="block";
      			
      			document.getElementById("nrHomens").style.display="none";
      			document.getElementById("nrMulheres").style.display="none";
      			document.getElementById("nomeGrupo").style.display="none";
      			
      			
      			
      			
      		}else if(status.value=="grupo"){
      			
      			document.getElementById("nome").style.display="block";
      			document.getElementById("comunicacao").style.display="block";
      			document.getElementById("contacto").style.display="block";
      			document.getElementById("endereco").style.display="block";
      			document.getElementById("email").style.display="block";
      			document.getElementById("nrHomens").style.display="block";
      			document.getElementById("nrMulheres").style.display="block";
      			document.getElementById("nomeGrupo").style.display="block";
      			
      			document.getElementById("faixaEtaria").style.display="none";
      			document.getElementById("genero").style.display="none";
      			
      			
      		}else if(status.value=="anonimo"){
      			
      			document.getElementById("genero").style.display="block";
      			document.getElementById("comunicacao").style.display="block";
      			document.getElementById("contacto").style.display="block";
      			document.getElementById("faixaEtaria").style.display="block";
      			document.getElementById("endereco").style.display="block";
      			document.getElementById("email").style.display="block";
      			
      			document.getElementById("nrHomens").style.display="none";
      			document.getElementById("nrMulheres").style.display="none";
      			document.getElementById("nomeGrupo").style.display="none";
      			document.getElementById("nome").style.display="none";
      		}else{
      			
      			document.getElementById("nrHomens").style.display="none";
      			document.getElementById("nrMulheres").style.display="none";
      			document.getElementById("nomeGrupo").style.display="none";
      			document.getElementById("nome").style.display="none";
      			document.getElementById("genero").style.display="none";
      			document.getElementById("comunicacao").style.display="none";
      			document.getElementById("contacto").style.display="none";
      			document.getElementById("faixaEtaria").style.display="none";
      			document.getElementById("endereco").style.display="none";
      			document.getElementById("email").style.display="none";
      			
      		}
      	}
      	
      	
      	function onChangeProjecto(){
      		var estado = document.getElementById("radioProjecto");
      		
      		
      		if(estado.value=="projecto"){
      			document.getElementById("projectoo").style.display="block";
      			document.getElementById("cidadee").style.display="block";
      			document.getElementById("empreiteiroo").style.display="none";
      			
      		}else{
      			document.getElementById("projectoo").style.display="none";
      			document.getElementById("empreiteiroo").style.display="block";
      			document.getElementById("cidadee").style.display="none";
      		}
      	}
      		
      		function onChangeOperacao(){
          		var estado = document.getElementById("radioOperacao");
          		
          		
          		if(estado.value=="operacao"){
          			document.getElementById("empreiteiroo").style.display="block";
          			document.getElementById("cidadee").style.display="block";
          			document.getElementById("projectoo").style.display="none";
          		}else{
          			document.getElementById("empreiteiroo").style.display="none";
          			document.getElementById("projectoo").style.display="block";
          			document.getElementById("cidadee").style.display="none";
          		}
      		
      	}
      	
      	
      	
      </script>
    <!-- Conteudo -->

	<div align="right" class="col-12">
        <a class="btn btn-primary btn-md mb-3" th:href="@{/listar/ocorrencia}" role="button">
            <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
            <span>Listar Ocorrências</span>
      	</a>
    </div>
    
    <div class="card">
        <div  class="card-header">
            <h3 style="font-weight: bolder;color: #0277BD; " class="card-title">CADASTRO DE OCORRÊNCIA</h3>
        </div>
       <!--  <div th:replace="fragmentos/alert" class="card-body"> -->
         <div class="card-body">
		<form th:action="@{/ocorrencias/editar}"  th:object="${ocorrencia}" method="POST">
		
	                  <input type="hidden" th:field="*{id}" class="form-control" placeholder="Designação..."> 
	                  <input type="hidden" th:field="*{grmStamp}" class="form-control" placeholder="Designação..."> 
	                  <!-- enctype="multipart/form-data" -->

            <div style="background: #0277BD; color: white">
				<h2 style=" padding: 10px; margin: 0px;" class="card-title" >Dados da Ocorrência</h2>
			</div>
			<br>
	                  
	                 <!--  <input type="hidden" th:field="*{id}" class="form-control" placeholder="Designação...">  -->
	                  <!-- enctype="multipart/form-data" -->
	         <div class="card">
        <div  class="card-header">       
            
            	<div class="form-check-inline ">
			  <label class="form-check-label">
			    <input onchange="onChangeProjecto()" th:field="*{projectoOperacao}" id="radioProjecto" value="projecto" class="form-check-input check" type="radio" checked> Projecto
			  </label>
			</div>
			
			<div class="form-check-inline">
			  <label class="form-check-label">
			    <input onchange="onChangeOperacao()" th:field="*{projectoOperacao}" id="radioOperacao" type="radio" value="operacao" class="form-check-input" > Operação
			  </label>
			</div>
			</div>
			</div>
			<br>
			
			
			<div class="row">
            
            <div id="projectoo" class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="projecto" class="form-label">Projecto</label>
                        <select id="projecto" class="form-control custom-select form-select" th:field="*{projecto}" >
                            <option value="">Selecione o Projecto...</option>
                            <option th:each="p : ${projectos}"
                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>
                
                <div style="display: none;" id="empreiteiroo" class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="empreiteiro" class="form-label">Empreiteiro</label>
                        <select id="empreiteiro" class="form-control custom-select form-select" th:field="*{empreiteiro}" >
                            <option value="">Selecione o Empreiteiro...</option>
                            <option th:each="p : ${empreiteiros}"
                                    th:value="${p.id}" th:text="${p.nome}">Maputo</option>
                        </select>
                    </div>
                </div>
                
                <div id="cidadee" class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="cidade" class="form-label">Cidade</label>
                        <select id="cidade" class="form-control custom-select form-select" th:field="*{cidade}" >
                            <option value="">Selecione a Cidade...</option>
                            <option th:each="p : ${cidades}"
                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="comboboxProvincias" class="form-label">Província</label>
                        <select id="comboboxProvincias" class="form-control custom-select form-select" th:field="*{provincia}" >
                            <option value="">Selecione a Província...</option>
                            <option th:each="p : ${provincias}"
                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>

                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label class="form-label">Distrito</label>
                        <select class="form-control custom-select form-select" id="comoboxDistrito" th:field="*{distrito}" >
							<option value="">Selecione o Distrito...</option>
                            <option th:each="p : ${distritos}"
                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="comboboxPosto" class="form-label">Posto Administrativo</label>
                        <select class="form-control custom-select form-select" id="comboboxPosto"  th:field="*{postoAdministrativo}" >
							<option value="">Selecione o Postos Administrativos...</option>
                            <option th:each="p : ${postos}"
                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>

            
            <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label class="form-label">Comunidade</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{comunidade}" class="form-control" required placeholder="Escreva a Comunidade..."
                                   oninvalid="this.setCustomValidity('Campo obrigatório! Não pode ser vazio nem conter espaços em branco.')"
                                   oninput="this.setCustomValidity('')">
                        </div>
                    </div>
                </div>

                
                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="tipoOcorrencia" class="form-label">Tipo de Ocorrência</label>
                        <select id="tipoOcorrencia" class="form-control custom-select form-select" th:field="*{tipoOcorrencia}" >
                            <option value="">Selecione o Tipo de Ocorrência...</option>
                            <option th:each="p : ${tipoDeOcorrencias}" 
	                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label class="form-label">Data da Ocorrência: </label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-calendar"></i>
                                    </span>
                            <input type="date" th:field="*{dataOcorrencia}" class="form-control" required placeholder=""
                                   oninvalid="this.setCustomValidity('Campo obrigatório! Não pode ser vazio nem conter espaços em branco.')"
                                   oninput="this.setCustomValidity('')">
                        </div>
                    </div>
                </div>
                
                </div>
                
                
                <div class="row">
                
	                <div class="col-6 col-sm-12">
	                    <div class="form-group">
	                        <label class="form-label">Assunto </label>
	                        <div class="input-icon">
	                                    <span class="input-icon-addon">
	                                      <i class="fe fe-edit-2"></i>
	                                    </span>
	                            <textarea type="text" th:field="*{descricao}" data-bs-toggle="autosize" class="form-control" required placeholder="Descreva o Assunto..."
	                                   oninvalid="this.setCustomValidity('Campo obrigatório! Não pode ser vazio nem conter espaços em branco.')"
	                                   oninput="this.setCustomValidity('')"></textarea>
	                        </div>
	                    </div>
	                </div>
	                
	                </div>
	                <br>
	                
	                <div style="background: #0277BD; color: white">
						<h2 style=" padding: 10px; margin: 0px;"  class="card-title" >Dados da Utente</h2>
					</div>
					<br>
	                
	                
	                <div class="row">
	                <div class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Origem da Ocorrência</label>
                        <select id="origem" onchange="onChangeStatus()" class="form-control custom-select" th:field="*{nomeGrupo}" >
                            <option value="selecione">Selecione Origem da Ocorrência...</option>
                            <option value="individual">Individual</option>
                            <option value="grupo">Grupo</option>
                            <option value="anonimo">Anonimo</option>
                        </select>
                    </div>
                </div>
                
                <div style="display: none" id="nrHomens" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Nr. de Homens</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="number" th:field="*{numeroHomens}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                <div style="display: none" id="nrMulheres" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Nr. de Mulheres</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="number" th:field="*{numeroMulheres}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                


                <div style="display: none" id="nome" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Nome</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{nomeUtente}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                <div style="display: none" id="nomeGrupo" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Nome Do Grupo</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{nomeDoRepresentanteDoGrupo}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>

                <div  style="display: none" id="genero" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Genero</label>
                        <select class="form-control custom-select" th:field="*{sexo}" >
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Femenino">ND</option>
                        </select>
                    </div>
                </div>
                
                
                
                <div  style="display: none" id="comunicacao" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Forma de Comunicação </label>
                        <select class="form-control custom-select" th:field="*{formaComunicacao}" >
                            <option value="Verbal">Verbal</option>
                            <option value="Telemóvel">Telemóvel</option>
                            <option value="Outro">ND</option>
                        </select>
                    </div>
                </div>


            

                <div  style="display: none" id="contacto" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Contacto</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{contactoUtente}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                

                <div style="display: none" id="faixaEtaria" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Faixa Etária</label>
                        <select class="form-control custom-select" th:field="*{faixaEtaria}" >
                            <option value="20 a 30">20 a 30</option>
                            <option value="30 a 40">31 a 60</option>
                            <option value="30 a 40">Outra</option>
                        </select>
                    </div>
                </div>
                
                
                
                <div  style="display: none" id="endereco" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Endereço</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text"  th:field="*{moradaUtente}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                 
                <div  style="display: none" id="email" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{emailUtente}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                </div>
                
                <br>
                
                <div style="background: #0277BD; color: white">
						<h2 style=" padding: 10px; margin: 0px;"  class="card-title" >Dados dos Anexos</h2>
					</div>
					<br>

            <div class="row">
				
				<div class="col-6 col-sm-6">
                    <div class="form-group">
                        <label style="display:block;" for="file" class="form-label btn">Anexar Doc (Pode Selecionar Vários)</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-calendar"></i>
                                    </span>
                            <input style="display:none;" type="file" onchange="preview()" name="files" id="file" class="form-control" multiple >
                            <p id="num-of-files"></p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-6">
                   <div class="form-group">
                    <div class="input-icon">
                        <input type="text" onchange="preview()" name="descricao" placeholder="Descricao de Anexos" class="form-control" >
                    </div>
                </div>
                </div>

            </div>
                
                
                
                
                
                
                
                <!-- <input type="file" name="files" multiple /> -->

            
            
            <div class="card-footer text-right">
            <button type="submit" class="btn btn-success">Editar </button>
        </div>
          </form>
          
          <!-- <form id="uploadFiles" name="uploadFiles" method="post", th:action="@{/upload/ficheiro}" enctype="multipart/form-data">
          	<input type="file" name="files" multiple required />
          	<button type="submit">Anexar</button>
          </form>
          
          <div style="background:#04AA6D;" class="card-header">
                <h3 style="font-weight:bolder" class="card-title">Lista de Anexos</h3>
            </div>
            <div class="table-responsive">
          	<table class="table card-table table-vcenter text-nowrap">
          		<thead>
          			<tr>
          				<th class="w-1">No.</th>
          				<th>Nome</th>
          				<th>Link para download</th>
          			</tr>
          		</thead>
          		<tbody>
          			<tr th:each="doc:${docs}">
          				<td th:text="${doc.id}" />
          				<td th:text="${doc.docName}" />
          				<td><a th:href="@{'/download/ficheiro/'+${doc.id}}">Donwload</a></td>
          			</tr>
          		</tbody>
          	</table>
          </div> -->
          





        </div>
        
    </div>
    <!-- Conteudo-->
</div>
</body>
</html>