<!DOCTYPE html>



<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>FIPAG</title>
    
    <style>
    #tabela {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabela td, #tabela th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabela tr:nth-child(even){background-color: #f2f2f2;}

#tabela tr:hover {background-color: #ddd;}

#tabela tr{font-weight: bolder;

}

#tabela th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a7ebaa;
  color: white;
  font-weight: bolder;
}
</style>


</head>





<body>





<div  layout:fragment="corpo">
    <!-- Conteudo -->
    
    
    
    
    
    
    
    



    <div class="col-12">
        <a class="btn btn-primary btn-md mb-3" th:href="@{/registar/ocorrencia}" role="button">
            <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
            <span>Nova Ocorrência</span>
        </a>

        <div class="card">
            <div style="background:#04AA6D;" class="card-header">
                <h3 style="font-weight:bolder" class="card-title">OCORRÊNCIAS</h3>
             <input id="txtSearch" name="keyword" type="text" class="form-control ml-2" width="50%" placeholder="Filtrar...">
            </div>
            <div class="table-responsive">
                <table id="tabela" class="table card-table table-vcenter text-nowrap">
                    <thead>
                    <tr>
                        <th class="w-1">No.</th>
                        <th>Província</th>
                        <th>Distrito</th>
                        <th>Data de Cadastro</th>
                        <th>Data da Ocorrência</th>
                        <th>Tipo de Ocorrência</th>
                        <th class="w-4">Assunto</th>
                        <th class="w-3">Acção</th>
                        <!--  <th></th> -->
                    </tr>
                    </thead>
                    <tbody>
                    <!--  <tr th:each="p : ${postos}"> -->
                    <tr th:each="p : ${ocorrencias}">
                    <td th:text="${p.id}"><span class="text-muted">01401</span></td>
                    <td th:text="${p.provincia.designacao}"><span class="text-muted">01401</span></td>
                        <td th:text="${p.distrito.designacao}"><span class="text-muted">01401</span></td>
                     <td th:text="${#dates.format(p.created, 'dd/MM/yyyy')}">02/03/2015</td>
                        <td th:text="${#dates.format(p.dataOcorrencia, 'dd/MM/yyyy')}">02/03/2015</td>
                        <td th:text="${p.tipoOcorrencia.designacao}">Auxiliar Contábil</td> 
                        <td>
		                            <button type="button" data-target="#exampleModal" class="btn btn-primary btn-sm ml-5" data-container="body"
		                                    data-toggle="popover" data-placement="top"
		                                    th:attr="data-content=${#strings.concat(
			                                    p.descricao
		                                    )}">
		                                
		                                <span class="fa fa-eye" th:title="${p.descricao}" aria-hidden="true"></span>
		                            </button>
		                        </td>
                       
                        
                        
                         <td  align="center">
                            <a class="icon btn btn-warning btn-sm" th:href="${'/ocorrencias/fase2/'+p.id}">
                                <i style="color: #fff" aria-hidden="true" class="fa fa-pencil-square-o"></i>
                            </a>
                            
                            <a class="icon btn btn-info btn-sm" th:href="${'/ocorrencias/detalhar/'+p.id}">
                                <i style="color: #fff" aria-hidden="true" class="fa fa-cogs ml-2 "></i>
                            </a>
                        </td> 
                        
                        
                        <!-- <td>
                            <a class="icon" th:href="${'/ocorrencias/fase2/'+p.id}">
                                <i class="fe fe-settings"></i>
                            </a>
                        </td> -->

                        <!-- <td>
                            <a class="icon" th:href="${'/postos/excluir/'+p.id}">
                                <i class="fe fe-trash-2"></i>
                            </a>
                        </td> -->
                    </tr>


                    </tbody>
                </table>

            </div>

        </div>
    </div>
    
 
    
    
    <script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/
	var ocorrencias = /*[[${ocorrencias}]]*/;
	/*]]>*/
 
	$('#txtSearch').on('keyup',function(){
		var value = $(this).val();
		//console.log('Value =' + value);
		
		var data = FilterFunction(value, ocorrencias);
		
		rebuildTable(data);
	});
		
		function FilterFunction(value, data){
			var filteredData = [];
			
			for(var i = 0; i<data.length; i++){
				value.toLowerCase();
				//var ocomunidade = data[i].comunidade.toLowerCase();
				//var oassunto = data[i].assunto.toLowerCase();
				
				var oprovincia = data[i].provincia.designacao.toLowerCase();
				var odistrito = data[i].distrito.designacao.toLowerCase();
				var otipoocorrencia = data[i].tipoOcorrencia.designacao.toLowerCase();
				
				if(oprovincia.includes(value) || odistrito.includes(value) || otipoocorrencia.includes(value)) {
					filteredData.push(data[i]);
				}
			}
			return filteredData;
		}
	
	
		
		function rebuildTable(data){
			var table = document.getElementById('tabela');
			
			
			table.innerHTML=''
			for(var i = 0; i<data.length; i++){
				var row = `
					<tr>
						<td>${data[i].id}</td>
						<td>${data[i].provincia.designacao}</td>
						<td>${data[i].distrito.designacao}</td>
						<td>${data[i].dataOcorrencia}</td>
						<td>${data[i].created}</td>
						<td>${data[i].tipoOcorrencia.designacao}</td>
						
						
					</tr>`
					table.innerHTML += row
					
					
			}
		}
	
 
</script>


    <!-- Conteudo-->
</div>
</body>
</html>