<!DOCTYPE html>



<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>FIPAG</title>

</head>

<body>

<div  layout:fragment="corpo">
  <!-- Conteudo -->



  <div class="col-12" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="card">
      <div class="card-header">
        <!-- <a class="btn btn-primary btn-md" th:href="@{/registar/processos}" role="button">
          <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
          <span>Novo Tempo de Tratamento</span>
        </a> -->

      </div>

		<br>
             <div style="padding-right:12px; padding-left:12px" class="table-responsive">
               <table id="example" class="display">
          <thead>
          <tr style="color: rgb(65,105,225)">
            <td class="w-4">No</td>
            <td >Nome</td>
            <td >Tempo</td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="p, index : ${processos}">
            <!--                     <tr th:each="p : ${ocorrencias}"> -->
            <td th:text="${index.count}"><span class="text-muted">01401</span></td>
            <td th:text="${p.nome}"><span class="text-muted">01401</span></td>
            <td th:text="${p.tempotratamento}"  > Local </td>
          </tr>


          </tbody>
        </table>

      </div>

    </div>
  </div>



</div>
</body>
</html>