<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    
</head>
<body>
<div  layout:fragment="corpo">
    <!-- Conteudo -->
    
    	

    <div class="col-12" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="card">
     <div class="card-header">
    <a class="btn btn-primary btn-md mb-3 ml-3" th:href="@{/registar/subcategoria}" role="button">
		 	<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
		     <span>Novo Sub Categoria</span>
		</a> 
    </div>
        <br>
             <div style="padding-right:12px; padding-left:12px" class="table-responsive">
               <table id="example" class="display">
                    <thead>
                    <tr style="font-weight:bolder; color: black">
                        <td class="w-1">No.</td>
                        <td>Designação</td>
                        <td>Categoria</td>
                       	<th></th>
                    </tr>
                    </thead>
                    <tbody>
                   <!--  <tr th:each="p : ${categorias}"> -->
                   <tr th:each="a, index : ${subcategorias}">
                   	     <td th:text="${index.count}"><span class="text-muted">01401</span></td>
                         <td th:text="${a.designacao}">Auxiliar Contábil</td>
                        <td th:text="${a.categoria.designacao}">Auxiliar Contábil</td>
                         <td>
                             <a th:href="@{/subcategoria/editar/{id} (id=${a.id})}">
                                 <i style="font-size: 15pt; color: blue" aria-hidden="true" class="fa fa-edit"></i>
                             </a>
                        </td>

                    </tr>
                    
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Conteudo-->
</div>
</body>
</html>