<!DOCTYPE html>
<html lang="pt" Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
      <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#4188c9">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
  <!-- Generated: 2018-04-06 16:27:42 +0200 -->
  <!-- <title>FIPAG – Fundo de Investimento e Património do Abastacimento de Água</title> -->
  <title>FIPAG - Fundo de Investimento e Património do Abastacimento de Água</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
  <script src="./assets/js/require.min.js"></script>
  <link rel="icon" th:href="@{/image/log.png}" />
  <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
     
     
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- CSS files -->
    <link th:href="@{/dist/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-flags.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-payments.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/demo.min.css}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
	<!-- jQueryUI (autocomplete) -->
	<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
      
      
<head>

    <meta charset="UTF-8">
    <title>FIPAG</title>
    
    
    
    <style type="text/css">
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(/image/fundoo.jpg) no-repeat center center fixed; 
  overflow: auto; 
  background-color: #E5E6EA";
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #0277BD;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #09c372;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #09c372;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}
  
  
  </style>
    
    
</head>
<body>
<header>
      <div id="brand">
      	<a href=".">
        	<img style="margin-right: 115px" th:src="@{/image/logo_light.png}" width="206" height="32" alt="Tabler" class="navbar-brand-image mt-1">
      	</a>
      </div>
      <nav>
        <ul>
         <li><a th:href="@{/}">Sobre o Canal</a></li>
          <li><a th:href="@{/apresentar/preocupacao}">Apresente Sua Preocupação</a></li>
          <li><a href="/about">Acompanhar Relato</a></li>
          <li><a href="/about">Estatísticas</a></li>
          <li id="login"><a th:href="@{/login}" >Login</a></li>
          
          
          
          <!-- <li id="signup"><a href="/signup">Signup</a></li> -->
        </ul>
      </nav>
      <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <ul class="mobile-menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/about">About</a></li>
          <li id="login"><a href="/login" >Login</a></li>
          <!-- <li id="signup"><a href="/signup">Signup</a></li> -->
        </ul>
      </div>
    </header>






<div>


<script type="text/javascript">
    function toggleMobileMenu(menu) {
        menu.classList.toggle('open');
    }
    </script>

    <script type="text/javascript">
        let fileInput = document.getElementById("file");
        let numOfFiles = document.getElementById("num-of-files");
        let imageContainer = document.getElementById("images");

        function preview(){

           document.getElementById("num-of-files").innerHTML = "";

           numOfFiles.textContent = '${fileInput.files.length} Anexos Selecionados';
        }

    </script>

    <script type="text/javascript">

    $(document).ready(function(){
        $('#comboboxProvincias').on('change',function(){

          var provinciaId = $(this).val();

          $.ajax({
          type: 'GET',
         //url: 'http://fipag.herokuapp.com/distrito/'+provinciaId,
          url: 'http://localhost:9090/distrito/'+provinciaId,
          
           success: function (result){
           var result = JSON.parse(result);
           var s = '';
          for(var i=0; i< result.length; i++){
              s+='<option value="'+result[i].id+'">'+result[i].designacao+'</option>';
          }
        $('#comoboxDistrito').html(s);
    }
});


        });
    });
    </script>

    <script type="text/javascript">

    $(document).ready(function(){
        $('#comoboxDistrito').on('change',function(){

          var distritoId = $(this).val();

         // alert(distritoId);

          $.ajax({
          type: 'GET',
         url: 'http://localhost:9090/posto/'+distritoId,
         
         
         // url: 'http://fipag.herokuapp.com/posto/'+distritoId,
          
           success: function (result){
           var result = JSON.parse(result);
           var s = '';
          for(var i=0; i< result.length; i++){
              s+='<option value="'+result[i].id+'">'+result[i].designacao+'</option>';
          }
        $('#comboboxPosto').html(s);
    }
});

          
        });
    });
    </script>

	<script type="text/javascript">
      	function onChangeStatus(){
      		var status = document.getElementById("origem");
      		
      		if(status.value=="individual"){
      			
      			document.getElementById("nome").style.display="block";
      			document.getElementById("genero").style.display="block";
      			document.getElementById("comunicacao").style.display="block";
      			document.getElementById("contacto").style.display="block";
      			document.getElementById("faixaEtaria").style.display="block";
      			document.getElementById("endereco").style.display="block";
      			document.getElementById("email").style.display="block";
      			
      			document.getElementById("nrHomens").style.display="none";
      			document.getElementById("nrMulheres").style.display="none";
      			document.getElementById("nomeGrupo").style.display="none";
      			
      			
      			
      			
      		}else if(status.value=="grupo"){
      			
      			document.getElementById("nome").style.display="block";
      			document.getElementById("comunicacao").style.display="block";
      			document.getElementById("contacto").style.display="block";
      			document.getElementById("endereco").style.display="block";
      			document.getElementById("email").style.display="block";
      			document.getElementById("nrHomens").style.display="block";
      			document.getElementById("nrMulheres").style.display="block";
      			document.getElementById("nomeGrupo").style.display="block";
      			
      			document.getElementById("faixaEtaria").style.display="none";
      			document.getElementById("genero").style.display="none";
      			
      			
      		}else if(status.value=="anonimo"){
      			
      			document.getElementById("genero").style.display="block";
      			document.getElementById("comunicacao").style.display="block";
      			document.getElementById("contacto").style.display="block";
      			document.getElementById("faixaEtaria").style.display="block";
      			document.getElementById("endereco").style.display="block";
      			document.getElementById("email").style.display="block";
      			
      			document.getElementById("nrHomens").style.display="none";
      			document.getElementById("nrMulheres").style.display="none";
      			document.getElementById("nomeGrupo").style.display="none";
      			document.getElementById("nome").style.display="none";
      		}else{
      			
      			document.getElementById("nrHomens").style.display="none";
      			document.getElementById("nrMulheres").style.display="none";
      			document.getElementById("nomeGrupo").style.display="none";
      			document.getElementById("nome").style.display="none";
      			document.getElementById("genero").style.display="none";
      			document.getElementById("comunicacao").style.display="none";
      			document.getElementById("contacto").style.display="none";
      			document.getElementById("faixaEtaria").style.display="none";
      			document.getElementById("endereco").style.display="none";
      			document.getElementById("email").style.display="none";
      			
      		}
      	}
      	
      	
      	function onChangeProjecto(){
      		var estado = document.getElementById("radioProjecto");
      		
      		
      		if(estado.value=="projecto"){
      			document.getElementById("projectoo").style.display="block";
      			document.getElementById("cidadee").style.display="block";
      			document.getElementById("empreiteiroo").style.display="none";
      			
      		}else{
      			document.getElementById("projectoo").style.display="none";
      			document.getElementById("empreiteiroo").style.display="block";
      			document.getElementById("cidadee").style.display="none";
      		}
      	}
      		
      		function onChangeOperacao(){
          		var estado = document.getElementById("radioOperacao");
          		
          		
          		if(estado.value=="operacao"){
          			document.getElementById("empreiteiroo").style.display="block";
          			document.getElementById("cidadee").style.display="block";
          			document.getElementById("projectoo").style.display="none";
          		}else{
          			document.getElementById("empreiteiroo").style.display="none";
          			document.getElementById("projectoo").style.display="block";
          			document.getElementById("cidadee").style.display="none";
          		}
      		
      	}
      	
      </script>
    <!-- Conteudo -->
    

    <div class="card">
        <div  class="card-header">
            <h3 style="font-weight: bolder;" class="card-title">CADASTRO DE OCORRÊNCIA</h3>
        </div>
       <!--  <div th:replace="fragmentos/alert" class="card-body"> -->
         <div class="card-body">
		<form th:action="@{/ocorrencias/cadastrar}" th:object="${ocorrencia}" method="POST" enctype="multipart/form-data">
		
			<div style="background: rgba(158,197,201,100)">
				<h2 style=" padding: 0px; margin: 0px;" class="card-title" >Dados da Ocorrência</h2>
			</div>
			<br>
	                  
	                 <!--  <input type="hidden" th:field="*{id}" class="form-control" placeholder="Designação...">  -->
	                  <!-- enctype="multipart/form-data" -->
	         <div class="card">
        <div  class="card-header">       
            
            	<div class="form-check-inline ">
			  <label class="form-check-label">
			    <input onchange="onChangeProjecto()" th:field="*{projectoOperacao}" id="radioProjecto" value="projecto" class="form-check-input check" type="radio" checked> Projecto
			  </label>
			</div>
			
			<div class="form-check-inline">
			  <label class="form-check-label">
			    <input onchange="onChangeOperacao()" th:field="*{projectoOperacao}" id="radioOperacao" type="radio" value="operacao" class="form-check-input" > Operação
			  </label>
			</div>
			</div>
			</div>
			<br>
			
			
			<div class="row">
            
            <div id="projectoo" class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="projecto" class="form-label">Projecto</label>
                        <select id="projecto" class="form-control custom-select form-select" th:field="*{projecto}" >
                            <option value="">Selecione o Projecto...</option>
                            <option th:each="p : ${projectos}"
                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>
                
                <div style="display: none;" id="empreiteiroo" class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="empreiteiro" class="form-label">Empreiteiro</label>
                        <select id="empreiteiro" class="form-control custom-select form-select" th:field="*{empreiteiro}" >
                            <option value="">Selecione o Empreiteiro...</option>
                            <option th:each="p : ${empreiteiros}"
                                    th:value="${p.id}" th:text="${p.nome}">Maputo</option>
                        </select>
                    </div>
                </div>
                
                <div id="cidadee" class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="cidade" class="form-label">Cidade</label>
                        <select id="cidade" class="form-control custom-select form-select" th:field="*{cidade}" >
                            <option value="">Selecione a Cidade...</option>
                            <option th:each="p : ${cidades}"
                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="comboboxProvincias" class="form-label">Província</label>
                        <select id="comboboxProvincias" class="form-control custom-select form-select" th:field="*{provincia}" >
                            <option value="">Selecione a Província...</option>
                            <option th:each="p : ${provincias}"
                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>

                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label class="form-label">Distrito</label>
                        <select class="form-control custom-select form-select" id="comoboxDistrito" th:field="*{distrito}" >
							<option value="">Selecione o Distrito...</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="comboboxPosto" class="form-label">Posto Administrativo</label>
                        <select class="form-control custom-select form-select" id="comboboxPosto"  th:field="*{postoAdministrativo}" >
							<option value="">Selecione o Postos Administrativos...</option>
                        </select>
                    </div>
                </div>

            
            <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label class="form-label">Comunidade</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{comunidade}" class="form-control" required placeholder="Escreva a Comunidade..."
                                   oninvalid="this.setCustomValidity('Campo obrigatório! Não pode ser vazio nem conter espaços em branco.')"
                                   oninput="this.setCustomValidity('')">
                        </div>
                    </div>
                </div>
                
                
                <div class="col-6 col-sm-6">
                    <div class="form-group">
                        <label for="tipoOcorrencia" class="form-label">Tipo de Ocorrência</label>
                        <select id="tipoOcorrencia" class="form-control custom-select form-select" th:field="*{tipoOcorrencia}" >
                            <option value="">Selecione o Tipo de Ocorrência...</option>
                            <option th:each="p : ${tipoDeOcorrencias}" 
	                                    th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Data da Ocorrência: </label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-calendar"></i>
                                    </span>
                            <input type="date" th:field="*{dataOcorrencia}" class="form-control" required placeholder=""
                                   oninvalid="this.setCustomValidity('Campo obrigatório! Não pode ser vazio nem conter espaços em branco.')"
                                   oninput="this.setCustomValidity('')">
                        </div>
                    </div>
                </div>
                
                </div>
                
                
                <div class="row">
                
	                <div class="col-6 col-sm-12">
	                    <div class="form-group">
	                        <label class="form-label">Assunto (mínimo 80 Caracteres)</label>
	                        <div class="input-icon">
	                                    <span class="input-icon-addon">
	                                      <i class="fe fe-edit-2"></i>
	                                    </span>
	                            <textarea type="text" th:field="*{descricao}" data-bs-toggle="autosize" class="form-control" required placeholder="Descreva o Assunto..."
	                                   oninvalid="this.setCustomValidity('Campo obrigatório! Não pode ser vazio nem conter espaços em branco.')"
	                                   oninput="this.setCustomValidity('')"></textarea>
	                        </div>
	                    </div>
	                </div>
	                
	                </div>
	                <br>
	                
	                <div style="background: rgba(158,197,201,100)">
						<h2 style=" padding: 0px; margin: 0px;" class="card-title" >Dados da Utente</h2>
					</div>
					<br>
	                
	                
	                <div class="row">
	                <div class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Origem da Ocorrência</label>
                        <select id="origem" onchange="onChangeStatus()" class="form-control custom-select" th:field="*{nomeGrupo}" >
                            <option value="selecione">Selecione Origem da Ocorrência...</option>
                            <option value="individual">Individual</option>
                            <option value="grupo">Grupo</option>
                            <option value="anonimo">Anonimo</option>
                        </select>
                    </div>
                </div>
                
                <div style="display: none" id="nrHomens" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Nr. de Homens</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="number" th:field="*{numeroHomens}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                <div style="display: none" id="nrMulheres" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Nr. de Mulheres</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="number" th:field="*{numeroMulheres}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                


                <div style="display: none" id="nome" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Nome</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{nomeUtente}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                <div style="display: none" id="nomeGrupo" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Nome Do Grupo</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{nomeDoRepresentanteDoGrupo}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>

                <div  style="display: none" id="genero" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Genero</label>
                        <select class="form-control custom-select" th:field="*{sexo}" >
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Femenino">ND</option>
                        </select>
                    </div>
                </div>
                
                
                
                <div  style="display: none" id="comunicacao" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Forma de Comunicação </label>
                        <select class="form-control custom-select" th:field="*{formaComunicacao}" >
                            <option value="Verbal">Verbal</option>
                            <option value="Telemóvel">Telemóvel</option>
                            <option value="Outro">ND</option>
                        </select>
                    </div>
                </div>


            

                <div  style="display: none" id="contacto" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Contacto</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{contactoUtente}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                

                <div style="display: none" id="faixaEtaria" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Faixa Etária</label>
                        <select class="form-control custom-select" th:field="*{faixaEtaria}" >
                            <option value="20 a 30">20 a 30</option>
                            <option value="30 a 40">31 a 60</option>
                            <option value="30 a 40">Outra</option>
                        </select>
                    </div>
                </div>
                
                
                
                <div  style="display: none" id="endereco" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Endereço</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text"  th:field="*{moradaUtente}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                 
                <div  style="display: none" id="email" class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                            <input type="text" th:field="*{emailUtente}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>
                
                </div>
                
                <br>
                
                <div style="background: rgba(158,197,201,100)">
						<h2 style=" padding: 0px; margin: 0px;" class="card-title" >Dados dos Anexos</h2>
					</div>
					<br>
				
				<div class="col-6 col-sm-12">
                    <div class="form-group">
                        <label style="display:block;" for="file" class="form-label btn">Anexar Doc (Pode Selecionar Vários)</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-calendar"></i>
                                    </span>
                            <input style="display:none;" type="file" onchange="preview()" name="files" id="file" class="form-control" multiple >
                            <p id="num-of-files"></p>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <!-- <input type="file" name="files" multiple /> -->

            
            
            <div class="card-footer text-right">
            <button type="submit" class="btn btn-success">Gravar </button>
        </div>
          </form>
          
          <!-- <form id="uploadFiles" name="uploadFiles" method="post", th:action="@{/upload/ficheiro}" enctype="multipart/form-data">
          	<input type="file" name="files" multiple required />
          	<button type="submit">Anexar</button>
          </form>
          
          <div style="background:#04AA6D;" class="card-header">
                <h3 style="font-weight:bolder" class="card-title">Lista de Anexos</h3>
            </div>
            <div class="table-responsive">
          	<table class="table card-table table-vcenter text-nowrap">
          		<thead>
          			<tr>
          				<th class="w-1">No.</th>
          				<th>Nome</th>
          				<th>Link para download</th>
          			</tr>
          		</thead>
          		<tbody>
          			<tr th:each="doc:${docs}">
          				<td th:text="${doc.id}" />
          				<td th:text="${doc.docName}" />
          				<td><a th:href="@{'/download/ficheiro/'+${doc.id}}">Donwload</a></td>
          			</tr>
          		</tbody>
          	</table>
          </div> -->
          





        </div>
        
    </div>
    <!-- Conteudo-->
</div>

</body>
</html>