<!DOCTYPE html>
<html lang="pt" Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>FNDS - Fundo Nacional de Desenvolvimento Sustentável</title>
    <link rel="icon" th:href="@{/image/lagoa.png}" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- CSS files -->
    <link th:href="@{/dist/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-flags.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-payments.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/demo.min.css}" rel="stylesheet"/>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
    <!-- jQueryUI (autocomplete) -->
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    <link href="https://code.jquery.com/jquery-3.5.1.js" rel="stylesheet"/>

    <link href="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"/>

    <link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"/>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script th:src="@{/dist/js/tabler.min.js}"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>


<script type="text/javascript">
      $(".date").datepicker({
        format: "dd-mm-yyyy",
      });
    </script>


    <!-- <link th:href="@{/../assets/plugins/maps-google/plugin.css}" rel="stylesheet" />
    <script th:src="@{/../assets/plugins/maps-google/plugin.js}"></script>
    <script th:src="@{/../assets/plugins/input-mask/plugin.js}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
    <!-- <link th:href="@{/../assets/css/dashboard.css}" rel="stylesheet" />
    <script th:src="@{/../assets/js/dashboard.js}"></script> -->

</head>
<body>

<header th:replace="/fragmentos/headerPublico"></header>

<div>

    <script type="text/javascript">
let fileInput = document.getElementById("file");
let numOfFiles = document.getElementById("num-of-files");
let imageContainer = document.getElementById("images");

function preview(){

document.getElementById("num-of-files").innerHTML = "";

numOfFiles.textContent = '${fileInput.files.length} Anexos Selecionados';
}

</script>

    <script type="text/javascript">

var estadobotao = 0 ;

function onChangeSimOrigem(){
var estado = document.getElementById("radioSimOrigem");

if(estado.value=="Interno"){
estadobotao = 1 ;
}
OrigemInternoExterno();
}

function onChangeNaoOrigem(){
var estado = document.getElementById("radioNaoOrigem");

if(estado.value=="Externo"){
estadobotao = 2 ;
}
OrigemInternoExterno();
}



    function OrigemInternoExterno(){

    $.ajax({
    type: 'GET',

    //url: 'http://expediente.uem.mz:9090/grm/origem/externo',
//  url: 'https://portal.fipag.co.mz/grm/origem/externo',
    url: 'http://localhost:8080/fnds/origem/externo/',
    // url: 'http://portal.fipag.co.mz/grm2/origem/externo',


    success: function (result){
    var result = JSON.parse(result);
    var s = '';

    if(estadobotao == 1){

    for(var i=0; i< result.length; i++){

    if(result[i].tipo=="Interno"){
    s+='<option value="'+result[i].id+'">'+result[i].nome+'</option>';
    }

    }
    }

    if(estadobotao == 2){

    for(var i=0; i< result.length; i++){

    if(result[i].tipo=="Externo"){
    s+='<option value="'+result[i].id+'">'+result[i].nome+'</option>';
    }

    }
    }

    $('#comboboxOrigem').html(s);
    }
    });

    }



</script>

    <script type="text/javascript">

$(document).ready(function(){
$('#comboboxProvincias').on('change',function(){

var provinciaId = $(this).val();

// alert(provinciaId);

$.ajax({
type: 'GET',

//url: 'http://fipag.herokuapp.com/distrito/'+provinciaId,
//url: 'http://portal.fipag.co.mz/grm/distrito/'+provinciaId,
url: 'http://localhost:8080/fnds/distrito/'+provinciaId,
//url: 'http://portal.fipag.co.mz/grm2/distrito/'+provinciaId,


success: function (result){
var result = JSON.parse(result);
var s = '';
for(var i=0; i< result.length; i++){
s+='<option value="'+result[i].id+'">'+result[i].designacao+'</option>';
}
$('#comoboxDistrito').html(s);
}
});

});
});
</script>


    <script type="text/javascript">

$(document).ready(function(){
$('#comoboxDistrito').on('change',function(){

var distritoId = $(this).val();

// alert(distritoId);

$.ajax({
type: 'GET',
//url: 'http://portal.fipag.co.mz/grm/posto/'+distritoId,
//url: 'http://fipag.herokuapp.com/posto/'+distritoId,
url: 'http://localhost:8080/fnds/posto/'+distritoId,

//url: 'http://portal.fipag.co.mz/grm2/posto/'+distritoId,

success: function (result){
var result = JSON.parse(result);
var s = '';
for(var i=0; i< result.length; i++){
s+='<option value="'+result[i].id+'">'+result[i].designacao+'</option>';
}
$('#comboboxPosto').html(s);
}
});


});
});
</script>


    <script type="text/javascript">
function onChangeStatus(){
var status = document.getElementById("origem");

if(status.value=="individual"){

document.getElementById("nome").style.display="block";
document.getElementById("genero").style.display="block";
document.getElementById("comunicacao").style.display="block";
document.getElementById("contacto").style.display="block";
document.getElementById("faixaEtaria").style.display="block";
document.getElementById("endereco").style.display="block";
document.getElementById("email").style.display="block";

document.getElementById("nrHomens").style.display="none";
document.getElementById("nrMulheres").style.display="none";
document.getElementById("nomeGrupo").style.display="none";




}else if(status.value=="grupo"){

document.getElementById("nome").style.display="block";
document.getElementById("comunicacao").style.display="block";
document.getElementById("contacto").style.display="block";
document.getElementById("endereco").style.display="block";
document.getElementById("email").style.display="block";
document.getElementById("nrHomens").style.display="block";
document.getElementById("nrMulheres").style.display="block";
document.getElementById("nomeGrupo").style.display="block";

document.getElementById("faixaEtaria").style.display="none";
document.getElementById("genero").style.display="none";


}else if(status.value=="anonimo"){

document.getElementById("genero").style.display="block";
document.getElementById("comunicacao").style.display="block";
document.getElementById("contacto").style.display="block";
document.getElementById("faixaEtaria").style.display="block";
document.getElementById("endereco").style.display="block";
document.getElementById("email").style.display="block";

document.getElementById("nrHomens").style.display="none";
document.getElementById("nrMulheres").style.display="none";
document.getElementById("nomeGrupo").style.display="none";
document.getElementById("nome").style.display="none";
}else{

document.getElementById("nrHomens").style.display="none";
document.getElementById("nrMulheres").style.display="none";
document.getElementById("nomeGrupo").style.display="none";
document.getElementById("nome").style.display="none";
document.getElementById("genero").style.display="none";
document.getElementById("comunicacao").style.display="none";
document.getElementById("contacto").style.display="none";
document.getElementById("faixaEtaria").style.display="none";
document.getElementById("endereco").style.display="none";
document.getElementById("email").style.display="none";

}
}


function onChangeProjecto(){
var estado = document.getElementById("radioProjecto");


if(estado.value=="projecto"){
document.getElementById("projectoo").style.display="block";
document.getElementById("cidadee").style.display="block";
document.getElementById("empreiteiroo").style.display="none";

}else{
document.getElementById("projectoo").style.display="none";
document.getElementById("empreiteiroo").style.display="block";
document.getElementById("cidadee").style.display="none";
}
}

function onChangeOperacao(){
var estado = document.getElementById("radioOperacao");


if(estado.value=="operacao"){
document.getElementById("empreiteiroo").style.display="block";
document.getElementById("cidadee").style.display="block";
document.getElementById("projectoo").style.display="block";
}else{
document.getElementById("empreiteiroo").style.display="none";
document.getElementById("projectoo").style.display="block";
document.getElementById("cidadee").style.display="none";
}

}

</script>

 <script>
	
      $(function(){
    	    var dtToday = new Date();
    	    
    	    var month = dtToday.getMonth() + 1;
    	    var day = dtToday.getDate();
    	    var year = dtToday.getFullYear();
    	    if(month < 10)
    	        month = '0' + month.toString();
    	    if(day < 10)
    	        day = '0' + day.toString();
    	    
    	    var maxDate= year + '-' + month + '-' + day;
    	    
    	    $('#txtDate').attr('max', maxDate);
    	});
	</script>


    <!-- Conteudo -->

	<div class="row"  >
	
	
	<div class="col-3">
	
	</div>

    <div class="card col-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
        
        <!-- <div th:replace="fragmentos/alert" class="card-body"> -->
        <div class="card-body">
        
        <div style="background: #60a18a; height: 35px" class="card-header">
            <h3 style="font-weight: bolder;color: #fff; background: #60a18a;" class="card-title">Apresentar Preocupação</h3>
        </div>
        
            <form th:action="@{/preCadastrar}" th:object="${ocorrencia}" method="POST" enctype="multipart/form-data">

                <!-- <input type="hidden" th:field="*{id}" class="form-control" placeholder="Designação..."> -->
                <!-- enctype="multipart/form-data" -->


                    
                  <div style="background: #60a18a; color: white">
                    <!-- <h3 style=" padding: 2px; margin: 0px;" class="card-title" >Dados do Projecto</h3> -->
                </div>
                     <div class="row">
                    <div id="projectoo" class="col-6 col-sm-6">
                        <div class="form-group">
                            <label for="projecto" class="form-label">Projecto <strong style="color:red">*</strong></label>
                            <select required="required" id="projecto" class="form-control custom-select form-select" th:field="*{projecto}" >
                                <option value="">Selecione o Projecto...</option>

                                <option th:each="p : ${projectos}"
                                        th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                            </select>
                        </div>
                    </div>

                         <div class="col-6 col-sm-6">
                             <div class="form-group">
                                 <label class="form-label">Data: <strong style="color:red">*</strong></label>
                                 <div class="input-icon">
							<span class="input-icon-addon">
							<i class="fe fe-calendar"></i>
							</span>
                                     <input id="txtDate" required="required" type="date" th:field="*{dataOcorrencia}" class="date form-control">
                                 </div>
                             </div>
                         </div>
                    
                    <div>
                    

                        <select hidden class="form-control custom-select form-select" th:field="*{tipoAlerta}" >

                            <option th:each= "tp: ${tipoAlertas}"
                                    th:if="${tp.designacao=='Normal'}" selected   th:value="${tp.id}" th:text="${tp.designacao}">Maputo</option>
                        </select>


                    </div>

                    </div>
                    
                 <br>
                  <div style="background: #60a18a; color: white">
                    <!-- <h3 style=" padding: 2px; margin: 0px;" class="card-title" >Dados do Local</h3> -->
                     <h3 class="card-title" style=" padding-left: 5px;" > Localização</h3>
                </div>

                
                 <div class="row">

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label for="comboboxProvincias" class="form-label">Província <strong style="color:red">*</strong></label>
                            <select required="required" id="comboboxProvincias" class="form-control custom-select form-select" th:field="*{provincia}" >
                                <option value="">Selecione a Província...</option>
                                <option th:each="p : ${provincias}"
                                        th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Distrito</label>
                            <select class="form-control custom-select form-select" id="comoboxDistrito" th:field="*{distrito}" >
                                <option value="">Selecione o Distrito...</option>
                                <option th:each="p : ${distritos}"
                                        th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <br>
                    
                     <div class="row">

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label for="comboboxPosto" class="form-label">Posto Administrativo</label>
                            <select class="form-control custom-select form-select" id="comboboxPosto" th:field="*{postoAdministrativo}" >
                                <option value="">Selecione o Postos Administrativos...</option>
                                <option th:each="p : ${postos}"
                                        th:value="${p.id}" th:text="${p.designacao}">Maputo</option>
                            </select>
                        </div>
                    </div>



                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Comunidade</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                    <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{comunidade}" class="form-control" placeholder="Não Obrigatório...">
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    
                    
                    <br>
                    
                  <div style="background: #60a18a; color: white">
                    <!-- <h3 style=" padding: 2px; margin: 0px;" class="card-title" >Dados Pessoais</h3> -->
                    <h3 style=" padding-left: 5px;" class="card-title" > Contacto</h3>
                </div>

                
                 <div class="row">

                    <div id="email" class="col-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Nome</label>
                            <div class="input-icon">
                                <span class="input-icon-addon">
                                <i class="fe fe-edit-2"></i>
                                </span>
                                <input type="text" th:field="*{nomeUtente}" class="form-control" placeholder="Não Obrigatório...">
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    <br>
                    
                     <div class="row">
                    
                    <div id="contacto" class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Telefone</label>
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                    <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="text" th:field="*{contactoUtente}" class="form-control" placeholder="Telefone...">
                            </div>
                        </div>
                    </div>

                    <div  class="col-6 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <div class="input-icon">
                                <span class="input-icon-addon">
                                <i class="fe fe-edit-2"></i>
                                </span>
                                <input type="text" th:field="*{emailUtente}" class="form-control" placeholder="Não Obrigatório...">
                            </div>
                        </div>
                    </div>
                
                
                </div>
                
                <br>
                  <div style="background: #60a18a; color: white">
                    <h3 style=" padding-left: 5px;" class="card-title" > Preocupação
                    </h3>
                </div>
                <br>


                <div class="row">

                    <div class="col-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Assunto <strong style="color:red">*</strong></label>
                            <div class="input-icon">
                                <span class="input-icon-addon">
                                <i class="fe fe-edit-2"></i>
                                </span>
                                <textarea required="required" type="text" th:field="*{descricao}" data-bs-toggle="autosize" class="form-control" placeholder="Descreva o Assunto..."></textarea>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    
                    <br>

                
				<div class="row">


                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-edit-2"></i>
                                    </span>
                                <input type="file" name="files" class="form-control" multiple>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6">
                        <div class="form-group">
                            <div class="input-icon">
                                <input type="text" onchange="preview()" name="descricaoAnx" placeholder="Descricao de Anexos" class="form-control" >
                            </div>
                        </div>
                    </div>


				</div>
				<br>

                <div class="card-footer text-center">
                    <button style="background: #60a18a; color: #fff" type="submit" class="btn">Submeter </button>
                </div>
            </form>

        </div>
		</div>
		
		<div class="col-3">
	
	</div>
	
    </div>
    <!-- Conteudo-->
</div>

</body>
</html>