<!doctype html>

<html lang="pt"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
   <title>FNDS - Fundo Nacional de Desenvolvimento Sustentável</title>
    <link rel="icon" th:href="@{/image/lagoa.png}" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- CSS files -->
    <link th:href="@{/dist/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-flags.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-payments.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/demo.min.css}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
    <!-- jQueryUI (autocomplete) -->
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>

    <!-- <link th:href="@{/../assets/plugins/charts-c3/plugin.css}" rel="stylesheet" />
    <script th:src="@{/../assets/plugins/charts-c3/plugin.js}"></script> -->


    <!-- <link th:href="@{/../assets/plugins/maps-google/plugin.css}" rel="stylesheet" />
    <script th:src="@{/../assets/plugins/maps-google/plugin.js}"></script>
    <script th:src="@{/../assets/plugins/input-mask/plugin.js}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
    <!-- <link th:href="@{/../assets/css/dashboard.css}" rel="stylesheet" />
    <script th:src="@{/../assets/js/dashboard.js}"></script> -->

    <!-- Libs JS -->
    <script th:src="@{/dist/libs/apexcharts/dist/apexcharts.min.js}"></script>
    <!-- Tabler Core -->
    <script th:src="@{/dist/js/tabler.min.js}"></script>

    <style type="text/css">
.h2{
margin-top: 0;
margin-bottom: 0;
}

</style>

</head>



<!-- url(/image/fundoo.jpg) no-repeat center center fixed; -->


<body style="background: #f4f5fa" class="antialiased wrapper">


<!-- Fragmentos de header -->
<header th:replace="/fragmentos/headerPublico"></header>
<!-- Fim de frgmento de header-->

<script type="text/javascript">
function toggleMobileMenu(menu) {
menu.classList.toggle('open');
}
</script>


<div>


    <!-- Conteudo -->

    <script type="text/javascript">

function onChangeSemestre(){
var estado = document.getElementById("radioSemestre");


if(estado.value=="S"){
document.getElementById("semestree").style.display="block";

document.getElementById("trimestree").style.display="none";
document.getElementById("mess").style.display="none";
document.getElementById("semestre").disabled = false;

}
}

function onChangeTrimestre(){
var estado = document.getElementById("radioTrimestre");


if(estado.value=="T"){
document.getElementById("trimestree").style.display="block";

document.getElementById("semestree").style.display="none";
document.getElementById("mess").style.display="none";
}
}

function onChangeMes(){
var estado = document.getElementById("radioMes");


if(estado.value=="M"){
document.getElementById("mess").style.display="block";

document.getElementById("semestree").style.display="none";
document.getElementById("trimestree").style.display="none";
}
}

function onChangeAnoActual(){
var estado = document.getElementById("radioAnoActual");


if(estado.value=="A"){

  document.getElementById("semestree").style.display="block";
  document.getElementById("trimestree").style.display="none";
  document.getElementById("mess").style.display="none";
  document.getElementById("semestre").disabled = true;

}
}


function onChangePorData(){
	var estado = document.getElementById("radioData");


	if(estado.value=="data"){
	document.getElementById("divdata").style.display="block";
	document.getElementById("divano").style.display="none";


	}
	}


function onChangePorAno(){
	var estado = document.getElementById("radioAno");


	if(estado.value=="ano"){
	document.getElementById("divdata").style.display="none";
	document.getElementById("divano").style.display="block";


	}
	}





</script>

<script>
	
      $(function(){
    	    var dtToday = new Date();
    	    
    	    var month = dtToday.getMonth() + 1;
    	    var day = dtToday.getDate();
    	    var year = dtToday.getFullYear();
    	    if(month < 10)
    	        month = '0' + month.toString();
    	    if(day < 10)
    	        day = '0' + day.toString();
    	    
    	    var maxDate= year + '-' + month + '-' + day;
    	    
    	    $('#txtDate').attr('max', maxDate);
    	    $('#txtDate2').attr('max', maxDate);
    	});
	</script>


<div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-sm-6 col-lg-12">
                    <div align="left" style="padding-top: 5px" class="card ">
                        <div class="card-body">

                            <div class="form-check-inline ">
                                <label class="form-check-label">
                                    <input onclick="onChangePorAno()" id="radioAno" value="ano" name="filtros" class="form-check-input check" type="radio" checked="checked"> Filtro por Período
                                </label>
                            </div>

                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input onclick="onChangePorData()" id="radioData" value="data" type="radio" name="filtros" class="form-check-input" > Filtro por intervalo de datas
                                </label>
                            </div>
                            
                            
                            <div style="margin-left: 280px" class="form-check-inline ">
                              <div style="font-weight: bolder" th:text="${dados1}" th:if="${dados1} != null"></div>
                              <div style="font-weight: bolder" th:text="${dados}" th:if="${dados} != null"></div> 
							</div>
                            
                            

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div  id="divano" class="page-body">

        <form th:action="@{/filter}" method="POST">
            <div class="container-xl">
                <div class="row row-deck row-cards">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div class="col-sm-2 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Ano</label>
                                    <select id="ano" name="ano" onchange="onChangeStatus()" class="form-control custom-select">
                                        <option value="2022">2022</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-5">


                        <div align="center" style="padding-top: 30px" class="card ">
                            <div style="padding-top: 8px" class="card-body">

                                <div class="form-check-inline ">
                                    <label class="form-check-label">
                                        <input onchange="onChangeAnoActual()" id="radioAnoActual" value="A" name="radioButton" class="form-check-input check" type="radio" checked> Ano
                                    </label>
                                </div>

                                <div class="form-check-inline ">
                                    <label class="form-check-label">
                                        <input onchange="onChangeSemestre()" id="radioSemestre" value="S" name="radioButton" class="form-check-input check" type="radio" > Semestre
                                    </label>
                                </div>

                                <div style="margin-left: 8%; margin-right: 8%;" class="form-check-inline">
                                    <label class="form-check-label">
                                        <input onchange="onChangeTrimestre()" id="radioTrimestre" type="radio" name="radioButton" value="T" class="form-check-input"> Trimestre
                                    </label>
                                </div>



                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input onchange="onChangeMes()" id="radioMes" type="radio" value="M" name="radioButton" class="form-check-input" > Mês
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div id="semestree" class="col-sm-6 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Semestre</label>
                                    <select id="semestre" name="codSelectedSemestre" onchange="onChangeStatus()" class="form-control custom-select">
                                        <option value="1">1° Semestre</option>
                                        <option value="2">2° Semestre</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div style="display: none;" id="trimestree" class="col-sm-6 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Trimestre</label>
                                    <select id="trimestre" name="codSelectedTrimestre" onchange="onChangeStatus()" class="form-control custom-select">
                                        <option value="1">1° Trimestre</option>
                                        <option value="2">2° Trimestre</option>
                                        <option value="3">3° Trimestre</option>
                                        <option value="4">4° Trimestre</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: none;" id="mess" class="col-sm-6 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Mês</label>
                                    <select id="mes" name="codSelectedMes" onchange="onChangeStatus()" class="form-control custom-select">
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4">Abril</option>
                                        <option value="5 ">Maio </option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubo</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  class="col-sm-2 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="projecto" class="form-label">Projecto</label>
                                    <select  name="projecto" class="form-control custom-select form-select">
                                        <option value="">Selecione o Projecto...</option>
                                        <option th:each="p : ${projectos}"
                                                th:value="${p.designacao}" th:text="${p.designacao}">Maputo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="botoes1" class="col-sm-1 col-lg-1">
                        <div class="card">

                            <br>
                            <button class="btn btn-default" type="submit" style="margin-top:6px;border:none ; " >
                                <i style="font-size: 20pt; color: #0277BD" class="far fa-rotate"></i>
                                <i style="font-size: 20pt; color: #0277BD" class="fa-solid fa-rotate"></i>
                                <i style="font-size: 20pt; color: #0277BD"  class="fas fa-sync-alt"></i>
                            </button>

                        </div>
                    </div>



                </div>
            </div>

        </form>

    </div>

    <form style="display: none"  id="divdata" th:action="@{/filter1}" method="POST">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">


                    <div class="col-sm-6 col-lg-6">


                        <div class="card ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">Data Inical: </label>
                                            <div class="input-icon">
							<span class="input-icon-addon">
							<i class="fe fe-calendar"></i>
							</span>
                                                <input id="txtDate" required="required" value="" name="datainicial" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">Data Final: </label>
                                            <div class="input-icon">
							<span class="input-icon-addon">
							<i class="fe fe-calendar"></i>
							</span>
                                                <input id="txtDate2" required="required" value="" name="datafinal" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="projectoo" class="col-sm-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="projecto" class="form-label">Projecto</label>
                                    <select id="projecto" name="projecto" class="form-control custom-select form-select" >
                                        <option value="">Selecione o Projecto...</option>
                                        <option th:each="p : ${projectos}"
                                                th:value="${p.designacao}" th:text="${p.designacao}">Maputo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div id="botoes" class="col-sm-6 col-lg-2">
                        <div class="card">

                            <br>
                            <button class="btn btn-default" type="submit" style="margin-top:6px;border:none ; " >
                                <i style="font-size: 20pt; color: #0277BD" class="far fa-rotate"></i>
                                <i style="font-size: 20pt; color: #0277BD" class="fa-solid fa-rotate"></i>
                                <i style="font-size: 20pt; color: #0277BD"  class="fas fa-sync-alt"></i>
                            </button>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </form>
    

     <!-- <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style="text-transform: capitalize; font-size: 12px" >Ocorrências</div>
                            </div>
                            <span style="color:rgba(0,0,0,0.5);margin-bottom: 25px;" class="h2">[[${totalOcorrencias}]]</span>
                            <span style="font-size:30px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0" ><i class="fas fa-list-alt"></i></span>

                        </div>
                    </div>
                </div> 

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style="text-transform: capitalize; font-size: 12px" >Ocorrências Procedentes</div>
                               
                            </div>
                            <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">[[${totalDeOcorrenciasProcedentes}]]</span>
                            <span style="font-size:30px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0" ><i class="fas fa-arrow-alt-circle-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style="text-transform: capitalize; font-size: 12px" >Ocorrências Improcedentes</div>
                            </div>
                            <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">[[${totalDeOcorrenciasImprocedentes}]]</span>
                            <span style="font-size:30px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0" ><i class="fa fa-ban"></i></span>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style="text-transform: capitalize; font-size: 12px" >Ocorrências Por Validar</div>
                            </div>
                            <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">[[${totalDeOcorrenciasPorValidar}]]</span>
                            <span style="font-size:30px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0" ><i class="fas fa-hourglass-half"></i></span>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>  -->





    <div style="margin:0; padding:0;" class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
            

                <div class="col-sm-6 col-lg-3">
                    <div style="background:#4299f5; border: 1px solid grey" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255);text-transform: capitalize; font-size: 12px;" class="subheader" >Ocorrências</div>
                            </div>
                            <span style="font-size:30px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-archive"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">[[${totalDeOcorrenciasProcedentes}]]</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div style="background:#FFA726;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255);text-transform: capitalize; font-size: 12px;" class="subheader" >Reclamações</div>
                            </div>
                            <span style="font-size:30px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-ban"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">[[${totalDeReclamacoesProcedentes}]]</span>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-2">
                    <div style="background:#66BB6A;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255);text-transform: capitalize; font-size: 12px;" class="subheader">Resolvidas</div>
                            </div>
                            <span style="font-size:30px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-calendar-check"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">[[${totalDeReclamacoesTerminadas}]]</span>

                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-2">
                    <div style="background:#EF5350;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255);text-transform: capitalize; font-size: 12px;" class="subheader">Não Resolvidas</div>
                            </div>
                            <span style="font-size:30px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-calendar-alt"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">[[${totalDeReclamacoesProcedentes}-${totalDeReclamacoesTerminadas}]]</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-lg-3">
                    <div style="background:#686669;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255);text-transform: capitalize; font-size: 12px;" class="subheader">Consultas/Sugestões...</div>
                            </div>
                            <span style="font-size:30px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-calendar-alt"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">[[${totalDeOcorrenciasNaoReclamacoes}]]</span>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

<div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Reclamações por Mes</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-combination"></div>
                        </div>
                    </div>



                </div>
                
                <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Reclamações por Projecto</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-regiao"></div>
                        </div>
                    </div>


                </div>
                

                 




            </div>
        </div>
    </div>
    
    
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                 
				<div class="col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Reclamações por Província</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-provincia"></div>
                        </div>
                    </div>


                </div> 


            </div>
        </div>
    </div>
    
    
    
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Reclamações por Canal de Entrada</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-canal-entrada"></div>
                        </div>
                    </div>



                </div>

                 <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Reclamações por Categoria</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-categoria"></div>
                        </div>
                    </div>


                </div> 




            </div>
        </div>
    </div>
    
    
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Reclamações por Projecto</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-projecto"></div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
    
    <script th:inline="javascript">
    ocorrenciasPorMes();
    ocorrenciasPorProvincia();
  //  ocorrenciasPorCidade();
    ocorrenciasPorRegiao();
    ocorrenciasPorCanalEntrada();
    ocorrenciasPorCategoria();
    ocorrenciasPorProjecto();
    ocorrenciasPorProjectoLinha();
    
    
    function ocorrenciasPorProjectoLinha(){
    	var nomeProjecto = /*[[${nomeProjecto}]]*/""
       	var periodo= /*[[${periodo}]]*/""
       	var nrocorrencias= /*[[${nrocorrencias}]]*/""
       	
       		document.addEventListener("DOMContentLoaded", function () {
       	      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-projectol'), {
       	      		chart: {
       	      			type: "line",
       	      			fontFamily: 'inherit',
       	      			height: 240,
       	      			parentHeightOffset: 0,
       	      			toolbar: {
       	      				show: false,
       	      			},
       	      			animations: {
       	      				enabled: false
       	      			},
       	      		},
       	      		fill: {
       	      			opacity: 1,
       	      		},
       	      		stroke: {
       	      			width: 2,
       	      			lineCap: "round",
       	      			curve: "straight",
       	      		},
       	      		series: [{
       	      			name: nomeProjecto,
       	      			data: nrocorrencias
       	      		}],
       	      		grid: {
       	      			padding: {
       	      				top: -20,
       	      				right: 0,
       	      				left: -4,
       	      				bottom: -4
       	      			},
       	      			strokeDashArray: 4,
       	      		},
       	      		xaxis: {
       	      			labels: {
       	      				padding: 0,
       	      			},
       	      			tooltip: {
       	      				enabled: false
       	      			},
       	      			categories: periodo,
       	      		},
       	      		yaxis: {
       	      			labels: {
       	      				padding: 4
       	      			},
       	      		},
       	      		colors: ["#ff922b", "#206bc4", "#5eba00"],
       	      		legend: {
       	      			show: false,
       	      		},
       	      	})).render();
       	      });
       	
           	
    }
    
    
    
    function ocorrenciasPorProjecto(){
    	var nomes = /*[[${nomesProjecto}]]*/""
       	var numeroocorencia1= /*[[${numeroocorenciaProjecto}]]*/""
       	var numeroocorencia2= /*[[${numeroocorenciaProjecto2}]]*/""
       	var numeroocorencia3= /*[[${numeroocorenciaProjecto3}]]*/""
       	
       		document.addEventListener("DOMContentLoaded", function () {
              	window.ApexCharts && (new ApexCharts(document.getElementById('chart-projecto'), {
              		chart: {
              			type: "bar",
              			fontFamily: 'inherit',
              			height: 240,
              			parentHeightOffset: 0,
              			toolbar: {
              				show: false,
              			},
              			animations: {
              				enabled: false
              			},
              		},
              		plotOptions: {
              			bar: {
              				columnWidth: '50%',
              				horizontal: false,
              			}
              		},
              		dataLabels: {
              			enabled: false,
              		},
              		fill: {
              			opacity: 1,
              		},
              		series: [{
              			name: "Não Resolvidas",
              			data: numeroocorencia2
              		},{
              			name: "Resolvidas",
              			data: numeroocorencia1
              		},{
              			name: "Improcedentes",
              			data: numeroocorencia3
              		}],
              		grid: {
              			padding: {
              				top: -20,
              				right: 0,
              				left: 0,
              				bottom: -4
              			},
              			strokeDashArray: 4,
              		},
              		xaxis: {
              			labels: {
              				padding: 0,
              			},
              			tooltip: {
              				enabled: false
              			},
              			axisBorder: {
              				show: false,
              			},
              			categories: nomes,
              		},
              		yaxis: {
              			labels: {
              				padding: 4
              			},
              		},
              		colors: ["#EF5350", "#5eba00", "#FFA726"],
              		legend: {
              			show: false,
              		},
              	})).render();
              });
           	
    }
    
    function ocorrenciasPorCategoria(){
    	var nomes = /*[[${nomesCategoria}]]*/""
       	var numeroocorencia= /*[[${numeroocorenciaCategoria}]]*/""
       	
       	
       		document.addEventListener("DOMContentLoaded", function () {
              	window.ApexCharts && (new ApexCharts(document.getElementById('chart-categoria'), {
              		chart: {
              			type: "pie",
              			fontFamily: 'inherit',
              			height: 240,
              			sparkline: {
              				enabled: true
              			},
              			animations: {
              				enabled: false
              			},
              		},
              		fill: {
              			opacity: 1,
              		},
              		series: numeroocorencia,
              		labels: nomes,
              		grid: {
              			strokeDashArray: 4,
              		},
              		colors: ["#FFA726", "#66BB6A", "#EF5350", "#4299f5"],
              		legend: {
              			show: true,
              			position: 'bottom',
              			offsetY: 12,
              			markers: {
              				width: 10,
              				height: 10,
              				radius: 100,
              			},
              			itemMargin: {
              				horizontal: 8,
              				vertical: 8
              			},
              		},
              		tooltip: {
              			fillSeriesColor: false
              		},
              	})).render();
              });
    
    }
    
    function ocorrenciasPorCanalEntrada(){
    	var nomes = /*[[${nomesCanais}]]*/""
       	var numeroocorencia= /*[[${numeroocorencia}]]*/""
       	
       		document.addEventListener("DOMContentLoaded", function () {
              	window.ApexCharts && (new ApexCharts(document.getElementById('chart-canal-entrada'), {
              		chart: {
              			type: "pie",
              			fontFamily: 'inherit',
              			height: 240,
              			sparkline: {
              				enabled: true
              			},
              			animations: {
              				enabled: false
              			},
              		},
              		fill: {
              			opacity: 1,
              		},
              		series: numeroocorencia,
              		labels: nomes,
              		grid: {
              			strokeDashArray: 4,
              		},
              		colors: ["#FFA726", "#66BB6A", "#EF5350", "#4299f5"],
              		legend: {
              			show: true,
              			position: 'bottom',
              			offsetY: 12,
              			markers: {
              				width: 10,
              				height: 10,
              				radius: 100,
              			},
              			itemMargin: {
              				horizontal: 8,
              				vertical: 8
              			},
              		},
              		tooltip: {
              			fillSeriesColor: false
              		},
              	})).render();
              });
    }
    
    function ocorrenciasPorRegiao(){
    	var nomes = /*[[${nomesRegiao}]]*/""
        var numeroocorencia= /*[[${numeroocorenciaRegiao}]]*/""
        
        	document.addEventListener("DOMContentLoaded", function () {
              	window.ApexCharts && (new ApexCharts(document.getElementById('chart-regiao'), {
              		chart: {
              			type: "pie",
              			fontFamily: 'inherit',
              			height: 240,
              			sparkline: {
              				enabled: true
              			},
              			animations: {
              				enabled: false
              			},
              		},
              		fill: {
              			opacity: 1,
              		},
              		series: numeroocorencia,
              		labels: nomes,
              		grid: {
              			strokeDashArray: 4,
              		},
              		colors: ["#4299f5", "#FFA726", "#66BB6A", "#EF5350"],
              		legend: {
              			show: true,
              			position: 'bottom',
              			offsetY: 12,
              			markers: {
              				width: 10,
              				height: 10,
              				radius: 100,
              			},
              			itemMargin: {
              				horizontal: 8,
              				vertical: 8
              			},
              		},
              		tooltip: {
              			fillSeriesColor: false
              		},
              	})).render();
              });
    }
    
    function ocorrenciasPorCidade(){
    	
    	var nomes = /*[[${nomesCidades}]]*/""
        var numeroocorencia= /*[[${ocorrenciasCidade}]]*/""
        
        
        	document.addEventListener("DOMContentLoaded", function () {
              	window.ApexCharts && (new ApexCharts(document.getElementById('chart-cidade'), {
              		chart: {
              			type: "pie",
              			fontFamily: 'inherit',
              			height: 240,
              			sparkline: {
              				enabled: true
              			},
              			animations: {
              				enabled: false
              			},
              		},
              		fill: {
              			opacity: 1,
              		},
              		series: numeroocorencia,
              		labels: nomes,
              		grid: {
              			strokeDashArray: 4,
              			
              		},
              		colors: ["#4299f5", "#FFA726", "#66BB6A", "#EF5350"],
              		legend: {
              			show: true,
              			position: 'bottom',
              			offsetY: 12,
              			markers: {
              				width: 10,
              				height: 10,
              				radius: 100,
              			},
              			itemMargin: {
              				horizontal: 8,
              				vertical: 8
              			},
              		},
              		tooltip: {
              			fillSeriesColor: false
              		},
              	})).render();
              });
    	
    }
    
    function ocorrenciasPorProvincia(){
    	
        var nomes = /*[[${nomesProvincias}]]*/""
        var numeroocorencia1= /*[[${numeroocorencia1}]]*/""
        var numeroocorencia2= /*[[${numeroocorencia2}]]*/""
        var numeroocorencia3= /*[[${numeroocorencia3}]]*/""
        
        	
        	document.addEventListener("DOMContentLoaded", function () {
              	window.ApexCharts && (new ApexCharts(document.getElementById('chart-provincia'), {
              		chart: {
              			type: "bar",
              			fontFamily: 'inherit',
              			height: 240,
              			parentHeightOffset: 0,
              			toolbar: {
              				show: false,
              			},
              			animations: {
              				enabled: false
              			},
              		},
              		plotOptions: {
              			bar: {
              				columnWidth: '50%',
              			}
              		},
              		dataLabels: {
              			enabled: false,
              		},
              		fill: {
              			opacity: 1,
              		},
              		series: [
              			{
                  			name: "Não Resolvidas",
                  			data: numeroocorencia2
                  		},{
              			name: "Resolvidas",
              			data: numeroocorencia1
              		},{
              			name: "Improcedentes",
              			data: numeroocorencia3
              		}],
              		grid: {
              			padding: {
              				top: -20,
              				right: 0,
              				left: 0,
              				bottom: -4
              			},
              			strokeDashArray: 4,
              		},
              		xaxis: {
              			labels: {
              				padding: 0,
              			},
              			tooltip: {
              				enabled: false
              			},
              			axisBorder: {
              				show: false,
              			},
              			categories: nomes,
              		},
              		yaxis: {
              			labels: {
              				padding: 4
              			},
              		},
              		colors: ["#EF5350", "#5eba00", "#FFA726"],
              		legend: {
              			show: false,
              		},
              	})).render();
              });
        	
        	
        }
    
    
    
    function ocorrenciasPorMes(){
    	
    var nomesMes = /*[[${nomesMeses}]]*/""
    var numeroocorencia1= /*[[${nrocorrenciasMesT}]]*/""
    var numeroocorencia2= /*[[${nrocorrenciasMesNT}]]*/""
    var numeroocorencia3= /*[[${nrocorrenciasMesI}]]*/""
    
    	document.addEventListener("DOMContentLoaded", function () {
          	window.ApexCharts && (new ApexCharts(document.getElementById('chart-combination'), {
          		chart: {
          			type: "bar",
          			fontFamily: 'inherit',
          			height: 240,
          			parentHeightOffset: 0,
          			toolbar: {
          				show: false,
          			},
          			animations: {
          				enabled: false
          			},
          		},
          		plotOptions: {
          			bar: {
          				columnWidth: '50%',
          			}
          		},
          		dataLabels: {
          			enabled: false,
          		},
          		fill: {
          			opacity: 1,
          		},
          		series: [
          			{
              			name: "Reclamações",
              			data: numeroocorencia2
              		},{
          			name: "Resolvidas",
          			data: numeroocorencia1
          		},{
          			name: "Consultas/Sugestões...",
          			data: numeroocorencia3
          		}],
          		grid: {
          			padding: {
          				top: -20,
          				right: 0,
          				left: -4,
          				bottom: -4
          			},
          			strokeDashArray: 4,
          		},
          		xaxis: {
          			labels: {
          				padding: 0,
          			},
          			tooltip: {
          				enabled: false
          			},
          			axisBorder: {
          				show: false,
          			},
          			categories: nomesMes,
          		},
          		yaxis: {
          			labels: {
          				padding: 4
          			},
          		},
          		colors: ["#EF5350", "#5eba00", "#FFA726"],
          		legend: {
          			show: false,
          		},
          	})).render();
          });
    	
    	
    }
    
    </script>

    <!-- Conteudo-->

</body>


</html>