<!doctype html>

<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title> FIPAG </title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- CSS files -->
    <link th:href="@{/dist/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-flags.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-payments.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/dist/css/demo.min.css}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js"></script>
    <script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
	
	<link href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" rel="stylesheet"/>
	
	<!-- jQueryUI (autocomplete) -->
	<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    
   <!--  <link th:href="@{/../assets/plugins/charts-c3/plugin.css}" rel="stylesheet" />
    <script th:src="@{/../assets/plugins/charts-c3/plugin.js}"></script> -->
    
    
    <!-- <link th:href="@{/../assets/plugins/maps-google/plugin.css}" rel="stylesheet" />
    <script th:src="@{/../assets/plugins/maps-google/plugin.js}"></script>
    <script th:src="@{/../assets/plugins/input-mask/plugin.js}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
   <!--  <link th:href="@{/../assets/css/dashboard.css}" rel="stylesheet" />
    <script th:src="@{/../assets/js/dashboard.js}"></script> -->
    
    
    
    <style type="text/css">
    
    .caixa{
	padding-top: 20px;
	padding-bottom: 20px;
}

/* #servicos img:hover{
	color: red;
	border: 1px solid red;
}
 */

#recursos{
	color: #fff;
}


#servicos h2, h3{
	color: #7c25f8;
}

#recursos h3{
	color: #9bf0e1;
}

#recursos h2{
	color: black;
}

.albuns{
	padding: 10px 0;
}

/* .rotacionar{
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	padding-left: 80px;
} */



/* Tipografia
-----------------------------*/

i{
font-size: 15pt;
color: #0277BD;
}

h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2{
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}




    
    </style>
    
</head>



<!-- url(/image/fundoo.jpg) no-repeat center center fixed; -->


<body style="background: #f4f5fa" class="antialiased wrapper">


<!-- Fragmentos de header -->
    <header th:replace="/fragmentos/headerPublico"></header>
    <!-- Fim de frgmento de header-->
    
    <script type="text/javascript">
    function toggleMobileMenu(menu) {
        menu.classList.toggle('open');
    }
    </script>
    
    <section id="servicos" class="caixa">
      <div class="container">
      
      <div style="background: #fff" class="row">

          <div class="col-md-6">
              <div class="row albuns">
                <div class="col-md-12">
                  <img style=" border-radius: 8px; max-width: 100%;  height: auto;" th:src="@{/image/rsz_agua.jpg}" class="img-fluid">
                </div>
              </div>
          </div>

          <div class="col-md-6">
            <!-- <h2>O que o Spotify tem?</h2> -->
            <div  class="card-header">
       	 			<h2 style="color: #0277BD; font-family: Century Gothic;" class="card-title">Informações Básicas</h2>
       	 	</div>
       	 		
            <div class="card-header">
            	<p style="text-align: justify; font-family: Century Gothic; font-size: 12pt">O Procon trata de problemas decorrentes de relação de consumo, conforme as regras do Código de Defesa do Consumidor (Lei n. 8078/90). IMPORTANTE: Existem dois canais eletrônicos onde o consumidor pode registrar sua reclamação, sem a necessidade de se dirigir a um posto de atendimento do Procon.</p>
			</div>
			
			
			<div  class="card-header">
       	 		<h2 style="color: #0277BD; font-family: Century Gothic; margin: 0; padding: 0" class="card-title">Sede</h2>
       	 	</div>
			<div class="row card-header">
			
			<ul style="color: black;" class="navbar-nav">
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-title">
                                <strong>Endereço:</strong> Av. Filipe Samuel Magaia, Nº 1291 R/C - Maputo
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-title">
                              <strong>Contatos:</strong> (+258) 21 308840 / (+258) 82 3025430
                            </span>
                        </a>
                    </li>
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-title">
                               <strong>Email: </strong>fipag@fipag.co.mz
                            </span>
                        </a>
                    </li>
                    
                    
                    
                </ul>
			
			</div>

        </div>
      </div>
      </div>
      
      
      
      
    </section>
    
    
    
    
    <section id="recursos" class="caixa">
      <div class="container">

        <div style="margin-bottom: 10px" class="row">
        
          
          <div class="col-md-4 card">
			<div>
       	 		<div  class="card-header">
       	 			<h3 style="color: #0277BD; font-family: Century Gothic;" class="card-title">Beira</h3>
       	 		</div>
       	 		
       	 		
       	 		<div class="card-body border-bottom py-3">
                    <div class="d-flex">
						
				<ul style="color: black;" class="navbar-nav">
                    
                    
                    <!-- text-shadow: 2px 2px 4px #000000;  -->
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-map-marker-alt"></i>
                            </span>

                            <span class="nav-link-title">
                               Rua da Companhia de Moç. 35 
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-phone-alt"></i>
                            </span>

                            <span class="nav-link-title">
                               (+258) 21 23 323102
                            </span>
                        </a>
                    </li>
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-envelope"></i>
                            </span>

                            <span class="nav-link-title">
                               admbeira@teledata.mz
                            </span>
                        </a>
                    </li>
                    
                    
                    
                </ul>
                    </div>
                  </div>
                  
       	 	</div>
          
          </div>
          
          <div class="col-md-4">
			<div class="card">
       	 		<div  class="card-header">
       	 			<h3 style="color: #0277BD; font-family: Century Gothic;" class="card-title">Tete</h3>
       	 		</div>
       	 		
       	 		
       	 		<div class="card-body border-bottom py-3">
                    <div class="d-flex">
						
				<ul style="color: black;" class="navbar-nav">
                    
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-map-marker-alt"></i>
                            </span>

                            <span class="nav-link-title">
                                Desvio Baobab Matewa Bairro Chingodzi
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-phone-alt"></i>
                            </span>

                            <span class="nav-link-title">
                               (+258) 25 242293
                            </span>
                        </a>
                    </li>
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-envelope"></i>
                            </span>

                            <span class="nav-link-title">
                               fipag.tete@fipag.co.mz
                            </span>
                        </a>
                    </li>
                    
                    
                    
                </ul>
                    </div>
                  </div>
                  
       	 	</div>
          
          </div>
          
          <div class="col-md-4 card">
			<div >
       	 		<div  class="card-header">
       	 			<h3 style="color: #0277BD; font-family: Century Gothic;" class="card-title">Nampula</h3>
       	 		</div>
       	 		
       	 		
       	 		<div class="card-body border-bottom py-3">
                    <div class="d-flex">
						
				<ul style="color: black;" class="navbar-nav">
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-map-marker-alt"></i>
                            </span>

                            <span class="nav-link-title">
                                Av. Eduardo Mondlane, 46 
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-phone-alt"></i>
                            </span>

                            <span class="nav-link-title">
                               (+258) 26 212121
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-envelope"></i>
                            </span>

                            <span class="nav-link-title">
                               fipag.aguanpl@teledata.mz
                            </span>
                        </a>
                    </li>
                    
                    
                </ul>
                    </div>
                  </div>
                  
       	 	</div>
          
          </div>
          
          
        </div>

        
        <div class="row">
          
          
          
          
          
          <div class="col-md-4 card">
			<div >
       	 		<div  class="card-header">
       	 			<h3 style="color: #0277BD; font-family: Century Gothic;" class="card-title">Dondo</h3>
       	 		</div>
       	 		
       	 		
       	 		<div class="card-body border-bottom py-3">
                    <div class="d-flex">
						
				<ul style="color: black;" class="navbar-nav">
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-map-marker-alt"></i>
                            </span>

                            <span class="nav-link-title">
                                Rua da Companhia de Moç. 35 
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-phone-alt"></i>
                            </span>

                            <span class="nav-link-title">
                               (+258) 21 23 323102
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-envelope"></i>
                            </span>

                            <span class="nav-link-title">
                               admbeira@teledata.mz
                            </span>
                        </a>
                    </li>
                    
                    
                </ul>
                    </div>
                  </div>
                  
       	 	</div>
          
          </div>
          
          
          <div class="col-md-4">
			<div class="card">
       	 		<div  class="card-header">
       	 			<h3 style="color: #0277BD; font-family: Century Gothic;" class="card-title">Moatize</h3>
       	 		</div>
       	 		
       	 		
       	 		<div class="card-body border-bottom py-3">
                    <div class="d-flex">
						
				<ul style="color: black;" class="navbar-nav">
                    
                    
                    <!-- text-shadow: 2px 2px 4px #000000;  -->
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-map-marker-alt"></i>
                            </span>

                            <span class="nav-link-title">
                               Desvio Baobab Matewa Bairro Chingodzi 
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-phone-alt"></i>
                            </span>

                            <span class="nav-link-title">
                               (+258) 25 242293
                            </span>
                        </a>
                    </li>
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-envelope"></i>
                            </span>

                            <span class="nav-link-title">
                               fipag.tete@fipag.co.mz
                            </span>
                        </a>
                    </li>
                    
                    
                    
                </ul>
                    </div>
                  </div>
                  
       	 	</div>
          
          </div>
          
          
          
          
          
          <div class="col-md-4 card">
			<div >
       	 		<div  class="card-header">
       	 			<h3 style="color: #0277BD; font-family: Century Gothic;" class="card-title">Nacala</h3>
       	 		</div>
       	 		
       	 		
       	 		<div class="card-body border-bottom py-3">
                    <div class="d-flex">
						
				<ul style="color: black;" class="navbar-nav">
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-map-marker-alt"></i>
                            </span>

                            <span class="nav-link-title">
                                Av. Eduardo Mondlane, 46 
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-phone-alt"></i>
                            </span>

                            <span class="nav-link-title">
                               (+258) 29 330028
                            </span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{apresentar/preocupacao}" >

                            <span class="nav-link-icon d-md-none d-lg-inline-block">
								 <i class="fas fa-envelope"></i>
                            </span>

                            <span class="nav-link-title">
                               fipag.nacala@fipag.co.mz
                            </span>
                        </a>
                    </li>
                    
                    
                </ul>
                    </div>
                  </div>
                  
       	 	</div>
          
          </div>
          
          
        </div>
        
        
        
        
        
        
      </div>
    </section>
    
    
    <footer style="background: #fff;" class="footer footer-transparent d-print-none">
    <div class="container">
        <div class="row text-center align-items-center flex-row-reverse">
            <div align="center" class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright &copy; 2022
                        <a href="https://infordata.co.mz/pt/" class="link-secondary">infordata</a>.
                        Todos direitos reservados.
                    </li>
                    <li class="list-inline-item">
                        <a href="./changelog.html" class="link-secondary" rel="noopener">v1.0.0</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> 
    
   </body>

</html>