<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<style type="text/css">
		.h2{
		margin-top: 0;
   		margin-bottom: 0;
		}
		
</style>

    <meta charset="UTF-8">
     <link rel="icon" th:href="@{/image/log.png}" />
    <title>FIPAG - Fundo de Investimento e Património do Abastacimento de Água</title>
</head>
<body>
<div  layout:fragment="corpo">
    <!-- Conteudo -->
    
    
    <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
    
   		 	<div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Reclamações</div>
                      <!-- <img style="margin-left:30px; width:60px; height:100px" src="image/membro.svg" class="header-brand-img" alt="tabler logo"></img> -->
                    <!-- <i style="align"  class="fe fe-home h1"></i> -->
                    </div>
                    <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">75</span>
                    <span style="font-size:60px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0"  ><i class="fa fa-ticket"></i></span>
                      
                  </div>
                </div>
              </div>
              
              
              
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Sugestões</div>
                    </div>
                    <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">31</span>
                    <span style="font-size:60px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0"  ><i class="fa fa-lightbulb-o"></i></span>
                      
                  </div>
                </div>
              </div>
              
              
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Solicitações</div>
                    </div>
                    <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">43</span>
                    <span style="font-size:60px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0"  ><i class="fe fe-git-pull-request"></i></span>
                      
                  </div>
                </div>
              </div>
              
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Consultas</div>
                    </div>
                   <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">43</span>
                    <span style="font-size:60px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0"  ><i class="fe fe-book-open"></i></span>
                      
                  </div>
                </div>
              </div>
              
              
              
              
              
              </div>
              </div>
              </div>
              
              
              
              
      <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
            
    		<div class="col-sm-6 col-lg-3">
                <div style="background:#66BB6A;" class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div style="color:rgb(255,255,255);" class="subheader">Reclamações Resolvidas</div>
                    </div>
                    <span style="font-size:60px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0"  ><i class="fa fa-calendar-check-o"></i></span>
                    <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">27</span>
                    
                  </div>
                </div>
              </div>
              
              
              <div class="col-sm-6 col-lg-3">
                <div style="background:#FFA726;" class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div style="color:rgb(255,255,255);" class="subheader">Reclamações em Andamento</div>
                    </div>
                    <span style="font-size:60px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0"  ><i class="fa fa-calendar"></i></span>
                    <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">21</span>
                  </div>
                </div>
              </div>
              
              
              <div class="col-sm-6 col-lg-3">
                <div style="background:#4299f5;" class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div style="color:rgb(255,255,255);" class="subheader">Reclamações Estagnadas</div>
                    </div>
                    <span style="font-size:60px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0"  ><i class="fa fa-archive"></i></span>
                    <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">16</span>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-6 col-lg-3">
                <div style="background:#EF5350;" class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div style="color:rgb(255,255,255);" class="subheader">Reclamações não Resolvidas</div>
                    </div>
                    <span style="font-size:60px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0"  ><i class="fa fa-ban"></i></span>
                    <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">11</span>
                  </div>
                </div>
              </div>
              
              
              
              </div>
              </div>
              </div>
              
              

    <div class="row">

        <div class="col-lg-8 col-xl-8">
            <div class="card">
                <div  style="background:#E6FFFE;" class="card-header">
                    <h3 style="font-weight: bolder" class="card-title">Ocorrências</h3>
                </div>
                <div class="card-body">
                    <div id="chart-completion-tasks-8"></div>
                </div>
            </div>

            <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-completion-tasks-8'), {
      		chart: {
      			type: "bar",
      			fontFamily: 'inherit',
      			height: 240,
      			parentHeightOffset: 0,
      			toolbar: {
      				show: false,
      			},
      			animations: {
      				enabled: false
      			},
      		},
      		plotOptions: {
      			bar: {
      				columnWidth: '50%',
      			}
      		},
      		dataLabels: {
      			enabled: false,
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: [{
      			name: "",
      			data: [155, 65, 465, 265, 225, 325, 80]
      		},{
      			name: "",
      			data: [113, 42, 65, 54, 76, 65, 35]
      		}],
      		grid: {
      			padding: {
      				top: -20,
      				right: 0,
      				left: -4,
      				bottom: -4
      			},
      			strokeDashArray: 4,
      		},
      		xaxis: {
      			labels: {
      				padding: 0,
      			},
      			tooltip: {
      				enabled: false
      			},
      			axisBorder: {
      				show: false,
      			},
      			type: 'datetime',
      		},
      		yaxis: {
      			labels: {
      				padding: 4
      			},
      		},
      		labels: [
      			'2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26'
      		],
      		colors: ["#206bc4", "#cd201f"],
      		legend: {
      			show: false,
      		},
      	})).render();
      });
      // @formatter:on
    </script>
        </div>

        <div class="col-lg-4 col-xl-4">
            <div class="card">
                <div style="background:#E6FFFE;" class="card-header">
                    <h3 style="font-weight: bolder" class="card-title">Percentagem das Ocorrências</h3>
                </div>
                <div class="card-body">
                    <div id="chart-demo-pie" style="height: 16rem"></div>
                </div>
            </div>

            <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-pie'), {
      		chart: {
      			type: "donut",
      			fontFamily: 'inherit',
      			height: 240,
      			sparkline: {
      				enabled: true
      			},
      			animations: {
      				enabled: false
      			},
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: [44, 55, 12, 2],
      		labels: ["Resolvidos", "Pendentes", "Em Andamento"],
      		grid: {
      			strokeDashArray: 4,
      		},
      		colors: ["#206bc4", "#79a6dc", "#d2e1f3"],
      		legend: {
      			show: true,
      			position: 'bottom',
      			offsetY: 12,
      			markers: {
      				width: 10,
      				height: 10,
      				radius: 100,
      			},
      			itemMargin: {
      				horizontal: 8,
      				vertical: 8
      			},
      		},
      		tooltip: {
      			fillSeriesColor: false
      		},
      	})).render();
      });
      // @formatter:on
    </script>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xl-6">
            <div class="card">
                <div style="background:#E6FFFE;" class="card-header">
                    <h3 style="font-weight: bolder" class="card-title">RECLAMAÇÕES POR CATEGORIA</h3>
                </div>
                <div class="card-body">
                    <div id="chart-demo-pie3" style="height: 16rem"></div>
                </div>
            </div>
            <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-pie3'), {
      		chart: {
      			type: "donut",
      			fontFamily: 'inherit',
      			height: 240,
      			sparkline: {
      				enabled: true
      			},
      			animations: {
      				enabled: false
      			},
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: [44, 55, 12, 2],
      		labels: ["Direct", "Affilliate", "E-mail", "Other"],
      		grid: {
      			strokeDashArray: 4,
      		},
      		colors: ["#206bc4", "#79a6dc", "#d2e1f3", "#e9ecf1"],
      		legend: {
      			show: true,
      			position: 'bottom',
      			offsetY: 12,
      			markers: {
      				width: 10,
      				height: 10,
      				radius: 100,
      			},
      			itemMargin: {
      				horizontal: 8,
      				vertical: 8
      			},
      		},
      		tooltip: {
      			fillSeriesColor: false
      		},
      	})).render();
      });
      // @formatter:on
    </script>
        </div>

        <div class="col-lg-6 col-xl-6">
            <div class="card">
                <div style="background:#E6FFFE"; class="card-header">
                    <h3 style="font-weight: bolder" class="card-title">RECLAMAÇÕES POR CANAL DE ENTRADA</h3>
                </div>
                <div class="card-body">
                    <div id="chart-demo-pie4" style="height: 16rem"></div>
                </div>
            </div>
            <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-pie4'), {
      		chart: {
      			type: "donut",
      			fontFamily: 'inherit',
      			height: 240,
      			sparkline: {
      				enabled: true
      			},
      			animations: {
      				enabled: false
      			},
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: [44, 55, 12, 2],
      		labels: ["Faturamento", "Perda de Agua", "Ambiental", "Other"],
      		grid: {
      			strokeDashArray: 4,
      		},
      		colors: ["#206bc4", "#79a6dc", "#d2e1f3", "#e9ecf1"],
      		legend: {
      			show: true,
      			position: 'bottom',
      			offsetY: 12,
      			markers: {
      				width: 10,
      				height: 10,
      				radius: 100,
      			},
      			itemMargin: {
      				horizontal: 8,
      				vertical: 8
      			},
      		},
      		tooltip: {
      			fillSeriesColor: false
      		},
      	})).render();
      });
      // @formatter:on
    </script>
        </div>
    </div>



    <div class="col-lg-12 col-xl-12">
        <div class="card">
            <div style="background:#E6FFFE"; class="card-header">
                <h3 style="font-weight: bolder" class="card-title">RÁCIO DE RECLAMAÇÕES POR CATEGÓRIA/ESTADO</h3>
            </div>
            <div class="card-body">
                <div id="chart-completion-tasks-9" style="height: 16rem"></div>
            </div>
        </div>
        <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-completion-tasks-9'), {
      		chart: {
      			type: "bar",
      			fontFamily: 'inherit',
      			height: 240,
      			parentHeightOffset: 0,
      			toolbar: {
      				show: false,
      			},
      			animations: {
      				enabled: false
      			},
      			stacked: true,
      		},
      		plotOptions: {
      			bar: {
      				columnWidth: '50%',
      			}
      		},
      		dataLabels: {
      			enabled: false,
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: [{
      			name: "",
      			data: [155, 65, 465, 265, 225, 325, 80]
      		},{
      			name: "",
      			data: [113, 42, 65, 54, 76, 65, 35]
      		}],
      		grid: {
      			padding: {
      				top: -20,
      				right: 0,
      				left: -4,
      				bottom: -4
      			},
      			strokeDashArray: 4,
      		},
      		xaxis: {
      			labels: {
      				padding: 0,
      			},
      			tooltip: {
      				enabled: false
      			},
      			axisBorder: {
      				show: false,
      			},
      			type: 'datetime',
      		},
      		yaxis: {
      			labels: {
      				padding: 4
      			},
      		},
      		labels: [
      			'2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26'
      		],
      		colors: ["#206bc4", "#cd201f"],
      		legend: {
      			show: false,
      		},
      	})).render();
      });
      // @formatter:on
    </script>
    </div>
    
    
    
    		<!-- <div class="col-lg-12">
                <div class="card">
                  <div style="background:#E6FFFE;" class="card-header border-0">
                    <div style="font-weight: bolder" class="card-title">MINHAS RECLAMAÇÕES EM ABERTO</div>
                  </div>
                  <div class="card-table table-responsive">
                    <table class="table table-vcenter">
                      <thead>
                        <tr>
                          <th>-</th>
                          <th>Área operacional</th>
                          <th>Data</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="w-1">
                            <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
                          </td>
                          <td class="td-truncate">
                            <div class="text-truncate">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                          </td>
                          <td class="text-nowrap text-muted">28 Nov 2019</td>
                        </tr>
                        <tr>
                          <td class="w-1">
                            <span class="avatar avatar-sm">JL</span>
                          </td>
                          <td class="td-truncate">
                            <div class="text-truncate">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                          </td>
                          <td class="text-nowrap text-muted">27 Nov 2019</td>
                        </tr>
                        <tr>
                          <td class="w-1">
                            <span class="avatar avatar-sm" style="background-image: url(./static/avatars/002m.jpg)"></span>
                          </td>
                          <td class="td-truncate">
                            <div class="text-truncate">
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                          </td>
                          <td class="text-nowrap text-muted">26 Nov 2019</td>
                        </tr>
                        <tr>
                          <td class="w-1">
                            <span class="avatar avatar-sm" style="background-image: url(./static/avatars/003m.jpg)"></span>
                          </td>
                          <td class="td-truncate">
                            <div class="text-truncate">
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                          </td>
                          <td class="text-nowrap text-muted">26 Nov 2019</td>
                        </tr>
                        <tr>
                          <td class="w-1">
                            <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000f.jpg)"></span>
                          </td>
                          <td class="td-truncate">
                            <div class="text-truncate">
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                          </td>
                          <td class="text-nowrap text-muted">25 Nov 2019</td>
                        </tr>
                        <tr>
                          <td class="w-1">
                            <span class="avatar avatar-sm" style="background-image: url(./static/avatars/001f.jpg)"></span>
                          </td>
                          <td class="td-truncate">
                            <div class="text-truncate">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                          </td>
                          <td class="text-nowrap text-muted">24 Nov 2019</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> -->


    <!-- Conteudo-->
</div>
</body>
</html>