<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}" Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>

    <style type="text/css">
.h2{
margin-top: 0;
margin-bottom: 0;
}

</style>

    <meta charset="UTF-8">




    <!-- PERCENTAGEM POR OCORRÊNCIAS -->

    <script type="text/javascript">



    </script>

    <!-- FIM -->

</head>
<body>
<div layout:fragment="corpo">


    <!-- Conteudo -->


    <script type="text/javascript">

function onChangeSemestre(){
var estado = document.getElementById("radioSemestre");


if(estado.value=="S"){
document.getElementById("semestree").style.display="block";

document.getElementById("trimestree").style.display="none";
document.getElementById("mess").style.display="none";
document.getElementById("semestre").disabled = false;
}
}

function onChangeTrimestre(){
var estado = document.getElementById("radioTrimestre");


if(estado.value=="T"){
document.getElementById("trimestree").style.display="block";

document.getElementById("semestree").style.display="none";
document.getElementById("mess").style.display="none";
}
}

function onChangeMes(){
var estado = document.getElementById("radioMes");


if(estado.value=="M"){
document.getElementById("mess").style.display="block";

document.getElementById("semestree").style.display="none";
document.getElementById("trimestree").style.display="none";
}
}

function onChangeAnoActual(){
var estado = document.getElementById("radioAnoActual");


if(estado.value=="A"){

  document.getElementById("semestree").style.display="block";
  document.getElementById("trimestree").style.display="none";
  document.getElementById("mess").style.display="none";
  document.getElementById("semestre").disabled = true;

}
}


function onChangePorData(){
var estado = document.getElementById("radioData");


if(estado.value=="data"){
document.getElementById("divdata").style.display="block";
document.getElementById("divano").style.display="none";


}
}


function onChangePorAno(){
var estado = document.getElementById("radioAno");


if(estado.value=="ano"){
document.getElementById("divdata").style.display="none";
document.getElementById("divano").style.display="block";


}
}



</script>

    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-sm-6 col-lg-12">
                    <div align="left" style="padding-top: 5px" class="card ">
                        <div class="card-body">


                            <div class="form-check-inline ">
                                <label class="form-check-label">
                                    <input onclick="onChangePorAno()" id="radioAno" value="ano" name="filtros" class="form-check-input check" type="radio" checked="checked"> Filtro por Período
                                </label>
                            </div>

                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input onclick="onChangePorData()" id="radioData" value="data" type="radio" name="filtros" class="form-check-input" > Filtro por intervalo de datas
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div  id="divano" class="page-body">

        <form th:action="@{/filtrar}" method="POST">
            <div class="container-xl">
                <div class="row row-deck row-cards">

                    <div class="col-sm-6 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Ano</label>
                                    <select id="ano" name="ano" onchange="onChangeStatus()" class="form-control custom-select">
                                        <option value="2022">2022</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>



                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">


                        <div align="center" style="padding-top: 30px" class="card ">
                            <div style="padding-top: 8px" class="card-body">

                                <div class="form-check-inline ">
                                    <label class="form-check-label">
                                        <input onchange="onChangeAnoActual()" id="radioAnoActual" value="A" name="radioButton" class="form-check-input check" type="radio" checked> Ano
                                    </label>
                                </div>

                                <div class="form-check-inline ">
                                    <label class="form-check-label">
                                        <input onchange="onChangeSemestre()" id="radioSemestre" value="S" name="radioButton" class="form-check-input check" type="radio" > Semestre
                                    </label>
                                </div>

                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input onchange="onChangeMes()" id="radioMes" type="radio" value="M" name="radioButton" class="form-check-input" > Mês
                                    </label>
                                </div>

                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input onchange="onChangeTrimestre()" id="radioTrimestre" type="radio" name="radioButton" value="T" class="form-check-input"> Trimestre
                                    </label>
                                </div>





                            </div>
                        </div>
                    </div>


                    <div id="semestree" class="col-sm-6 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Semestre</label>
                                    <select id="semestre" disabled name="codSelectedSemestre" onchange="onChangeStatus()" class="form-control custom-select">
                                        <option value="1">1° Semestre</option>
                                        <option value="2">2° Semestre</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div style="display: none;" id="trimestree" class="col-sm-6 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Trimestre</label>
                                    <select id="trimestre" name="codSelectedTrimestre" onchange="onChangeStatus()" class="form-control custom-select">
                                        <option value="1">1° Trimestre</option>
                                        <option value="2">2° Trimestre</option>
                                        <option value="3">3° Trimestre</option>
                                        <option value="4">4° Trimestre</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: none;" id="mess" class="col-sm-6 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Mês</label>
                                    <select id="mes" name="codSelectedMes" onchange="onChangeStatus()" class="form-control custom-select">
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4">Abril</option>
                                        <option value="5 ">Maio </option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubo</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  class="col-sm-6 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="projecto" class="form-label">Projecto</label>
                                    <select id="projecto" name="projecto" class="form-control custom-select form-select">
                                        <option value="">Selecione o Projecto...</option>
                                        <option th:each="p : ${projectos}"
                                                th:value="${p.designacao}" th:text="${p.designacao}">Maputo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  class="col-sm-6 col-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="provincia" class="form-label">Província </label>
                                    <select id="provincia" name="provincia" class="form-control custom-select form-select">
                                        <option value="">Selecione a Província...</option>
                                        <option th:each="p : ${provincias}"
                                                th:value="${p.designacao}" th:text="${p.designacao}" th:if="${p.designacao!='Nacional'}">Maputo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="botoes1" class="col-sm-1 col-lg-1">
                        <div class="card">
                            <br>
                            <button class="btn btn-default" type="submit" style="margin-top:6px;border:none ; " >
                                <i style="font-size: 20pt; color: #0277BD" class="far fa-rotate"></i>
                                <i style="font-size: 20pt; color: #0277BD" class="fa-solid fa-rotate"></i>
                                <i style="font-size: 20pt; color: #0277BD"  class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>



                </div>
            </div>

        </form>

    </div>

    <form style="display: none" id="divdata" th:action="@{/filtrar1}" method="POST">

        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">


                    <div class="col-sm-6 col-lg-5">


                        <div class="card ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">Data Inical: </label>
                                            <div class="input-icon">
<span class="input-icon-addon">
<i class="fe fe-calendar"></i>
</span>
                                                <input id="txtDate" required="required" value="" name="datainicial" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">Data Final: </label>
                                            <div class="input-icon">
<span class="input-icon-addon">
<i class="fe fe-calendar"></i>
</span>
                                                <input id="txtDate2" required="required" value="" name="datafinal" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="projectoo" class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label  class="form-label">Projecto</label>
                                    <select  name="projecto" class="form-control custom-select form-select" >
                                        <option value="">Selecione o Projecto...</option>
                                        <option th:each="p : ${projectos}"
                                                th:value="${p.designacao}" th:text="${p.designacao}">Maputo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="provincia" class="form-label">Província </label>
                                    <select id="provincia1" name="provincia" class="form-control custom-select form-select">
                                        <option value="">Selecione a Província...</option>
                                        <option th:each="p : ${provincias}"
                                                th:value="${p.designacao}" th:text="${p.designacao}">Maputo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div id="botoes" class="col-sm-6 col-lg-1">
                        <div class="card">
                            <br>
                            <button class="btn btn-default" type="submit" style="margin-top:6px;border:none ; " >
                                <i style="font-size: 20pt; color: #0277BD" class="far fa-rotate"></i>
                                <i style="font-size: 20pt; color: #0277BD" class="fa-solid fa-rotate"></i>
                                <i style="font-size: 20pt; color: #0277BD"  class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </form>

    <div class="page-body" th:if="${dados} != null">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-sm-12 col-lg-12">
                    <div style="padding-top: 5px" class="card ">
                        <div class="card-body">

                            <div class="form-check-inline ">
                                <center th:if="${dados}!= null" >
                                    <b>Critério de Pesquisa: <span th:text="${dados}"></span></b>
                                </center>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div style="background: #60a18a; height: 80%;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style=" text-transform: capitalize;font-size: 12px; color: rgba(255,255,255);" >Ocorrências</div>
                            </div>
                            <span style="color:rgba(255,255,255);margin-bottom: 25px;" class="h3">[[${totalOcorrencias}]]</span>
                            <span style="font-size:30px; padding-left:80px; color: rgb(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fas fa-list-alt"></i></span>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div style="background: #60a18a; height: 80%;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style=" text-transform: capitalize; font-size: 12px;color: rgba(255,255,255);" >Ocorrências Procedentes</div>

                            </div>
                            <span style="color:rgba(255,255,255);margin-bottom: 25px;" class="h3">[[${totalDeOcorrenciasProcedentes}]]</span>
                            <span style="font-size:30px; padding-left:80px; color: rgb(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fas fa-arrow-alt-circle-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div style="background: #60a18a; height: 80%;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style="text-transform: capitalize;  font-size: 12px; color: rgba(255,255,255);" >Ocorrências Improcedentes</div>
                            </div>
                            <span style="color:rgba(255,255,255);margin-bottom: 25px;" class="h3">[[${totalDeOcorrenciasImprocedentes}]]</span>
                            <span style="font-size:30px; padding-left:80px; color: rgb(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-ban"></i></span>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div style="background: #60a18a; height: 80%;" class="card">
                        <div class="card-body mt-0">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style=" text-transform: capitalize; font-size: 12px; color: rgba(255,255,255);" >Ocorrências Por Validar</div>
                            </div>
                            <span style="color: rgba(255,255,255);margin-bottom: 25px;" class="h3">[[${totalDeOcorrenciasPorValidar}]]</span>
                            <span style="font-size:30px; padding-left:80px; color: rgb(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fas fa-hourglass-half"></i></span>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>





    <div style="margin-top:-3%" class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">


                <div class="col-sm-6 col-lg-2">
                    <div style="background:#686669;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255); text-transform: capitalize;  font-size: 12px;" class="subheader" >Ocorrências</div>
                            </div>
                            <span style="font-size:30px; padding-right:40px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-archive"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h3">[[${totalDeOcorrenciasProcedentes}]]</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div style="background:rgba(128,0,128,0.8);" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255); text-transform: capitalize; font-size: 12px;" class="subheader">Consultas/Sugestões...</div>
                            </div>
                            <span style="font-size:30px; padding-right:40px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-calendar-alt"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h3">[[${totalDeOcorrenciasNaoReclamacoes}]]</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div style="background:rgba(0,47,167,0.8);" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255); text-transform: capitalize; font-size: 12px;" class="subheader" >Reclamações</div>
                            </div>
                            <span style="font-size:30px; padding-right:40px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fas fa-list-alt"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h3">[[${totalDeReclamacoesProcedentes}]]</span>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-2">
                    <div style="background:#66BB6A;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255); text-transform: capitalize; font-size: 12px;" class="subheader">Resolvidas</div>
                            </div>
                            <span style="font-size:30px; padding-right:40px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-calendar-check"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h3">[[${totalDeReclamacoesTerminadas}]]</span>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div style="background: #FFA726" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255); text-transform: capitalize; font-size: 12px;" class="subheader">Em atendimento</div>
                            </div>
                            <span style="font-size:30px; padding-right:40px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fas fa-recycle"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h3">[[${totalDeReclamacoesEmAndamento}]]</span>

                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-2">
                    <div style="background:#EF5350;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255); text-transform: capitalize; font-size: 12px;" class="subheader">Não resolvidas</div>
                            </div>
                            <span style="font-size:30px; padding-right:40px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-ban"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h3">[[${totalDeOcorrenciasNaoResolvidas}]]</span>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>


    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">


                <div class="col-6">
                    <div class="card">
                        <div class="card-header" >
                            <h3 class="card-title" style="  font-size: 12px;" >Reclamações por província</h3>
                        </div>
                        <div class="card-body" >
                            <canvas id="chart-provincia" height="200"   ></canvas>
                        </div>
                    </div>


                </div>

                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="  font-size: 12px;" >Reclamações por mes</h3>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-combination" height="200" ></canvas>

                        </div>
                    </div>



                </div>


            </div>
        </div>
    </div>



    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-6" style=" height:400px; " >
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="  font-size: 12px;" >Reclamações por canal de entrada</h3>
                        </div>
                        <center>
                            <div class="card-body" style="position: relative; height:20vh; width:24vw">
                                <canvas id="chart-canal-entrada"  ></canvas>
                            </div>
                        </center>
                    </div>



                </div>

                <div class="col-6" style="height:400px;">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="  font-size: 12px;" >Reclamações por categoria</h3>
                        </div>
                        <center>
                            <div class="card-body" style="position: relative; height:20vh; width:23vw" >

                                <canvas id="chart-categoria"  ></canvas>

                            </div>
                        </center>
                    </div>


                </div>




            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-6" style=" height:400px; " >
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="  font-size: 12px;" >Reclamações por sexo</h3>
                        </div>
                        <center>
                            <div class="card-body" style="position: relative; height:20vh; width:24vw">
                                <canvas id="chart-sexo"  ></canvas>
                            </div>
                        </center>
                    </div>



                </div>

                <div class="col-6" style="height:400px;">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="  font-size: 12px;" >Reclamações por categoria</h3>
                        </div>
                        <center>
                            <div class="card-body" style="position: relative; height:20vh; width:23vw" >

                                <canvas id="chart-tipo-preocupacao"  ></canvas>

                            </div>
                        </center>
                    </div>


                </div>




            </div>
        </div>
    </div>

    <script th:inline="javascript">
    ocorrenciasPorMes();
    ocorrenciasPorProvincia();
    //ocorrenciasPorCidade();
    ocorrenciasPorRegiao();
    ocorrenciasPorCanalEntrada();
    ocorrenciasPorCategoria();
    ocorrenciasPorProjecto();
    ocorrenciasPorTipoPreocupacao();
    ocorrenciasPorSexo();
    //teste();

    function teste(){
    var vetor = /*[[${vetor}]]*/'noValue';

    google.charts.load('current', {
                packages : [ 'corechart', 'pie' ]
            });
        google.charts.setOnLoadCallback(drawChart);

        alert(vetor);

        function drawChart() {

          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Year');
          data.addColumn('number', 'Views');

          Object.keys(vetor).forEach(function(key) {
                data.addRow([ key, vetor[key] ]);
          });

          var options = {
            title: 'My Daily Activities'
          };


          var chart = new google.visualization.PieChart(document.getElementById('piechart'));

          chart.draw(data, options);
        }
    }


    function ocorrenciasPorProjecto(){
    var nomes = /*[[${nomesProjecto}]]*/""
        var numeroocorencia1= /*[[${numeroocorenciaProjecto}]]*/""
        var numeroocorencia2= /*[[${numeroocorenciaProjecto2}]]*/""
        var numeroocorencia3= /*[[${numeroocorenciaProjecto3}]]*/""


        document.addEventListener("DOMContentLoaded", function () {
              window.ApexCharts && (new ApexCharts(document.getElementById('chart-projecto'), {
              chart: {
              type: "bar",
              fontFamily: 'inherit',
              height: 240,
              parentHeightOffset: 0,
              toolbar: {
              show: false,
              },
              animations: {
              enabled: false
              },
              },
              plotOptions: {
              bar: {
              columnWidth: '50%',
              horizontal: false,
              }
              },
              dataLabels: {
              enabled: false,
              },
              fill: {
              opacity: 1,
              },
              series: [
              {
                  name: "Resolvidas",
                  data: numeroocorencia1
                  },{
              name: "Em Atendimento",
              data: numeroocorencia2
              },{
              name: "Não Resolvidas",
              data: numeroocorencia3
              }

              ],
              grid: {
              padding: {
              top: -20,
              right: 0,
              left: 0,
              bottom: -4
              },
              strokeDashArray: 4,
              },
              xaxis: {
              labels: {
              padding: 0,
              },
              tooltip: {
              enabled: false
              },
              axisBorder: {
              show: false,
              },
              categories: nomes,
              },
              yaxis: {
              labels: {
              padding: 4
              },
              },
              colors: ["#66BB6A", "#FFA726", "#EF5350"],
              legend: {
              show: false,
              },
              })).render();
              });

    }

    function ocorrenciasPorCategoria(){
    var nomes = /*[[${nomesCategoria}]]*/""
        var numeroocorencia= /*[[${numeroocorenciaCategoria}]]*/""

                        // setup
        const data = {
          labels: nomes,
          datasets: [{
            label: 'abc',
            data: numeroocorencia,
            backgroundColor: [
              '#FFA726',
              '#66BB6A',
              '#EF5350',
              '#4299f5'
            ],
            
            borderWidth: 1
          }]
        };

        // config
        const config = {
          type: 'pie',
          data,
                  options: {
                plugins: {
                  datalabels: {
                    color: 'white',
                    labels: {
                      title: {
                        font: {
                          weight: 'bold',
                          size: 12,
                        }
                      }
                    }
                  }
                }
              },
          plugins:[ChartDataLabels]
        };

        // render init block
        const myChart = new Chart(
          document.getElementById('chart-categoria'),
          config
        );

    }

    function ocorrenciasPorCanalEntrada(){
    var nomes = /*[[${nomesCanais}]]*/""
        var numeroocorencia= /*[[${numeroocorencia}]]*/""

        // setup
        const data = {
          labels: nomes,
          datasets: [{
            label: 'abc',
            data: numeroocorencia,
            backgroundColor: [
              '#800080',
              '#4299f5',
              '#FFA726',
              '#66BB6A',
              '#EF5350'
            ],
            borderWidth: 1
          }]
        };

        // config
        const config = {
          type: 'pie',
          data,
            options: {
                plugins: {
                  datalabels: {
                    color: 'white',
                    labels: {
                      title: {
                        font: {
                          weight: 'bold',
                          size: 12,
                        }
                      }
                    }
                  }
                }
              },
          plugins:[ChartDataLabels]

        };

        // render init block
        const myChart = new Chart(
          document.getElementById('chart-canal-entrada'),
          config
        );

    }


    function ocorrenciasPorSexo(){
    var nomes = /*[[${nomeSexo}]]*/""
        var numeroocorencia= /*[[${numeroocorenciaSexo}]]*/""

         const ctx = document.getElementById('chart-sexo');

    const myChart = new Chart(ctx, {
    type: 'pie',
    height: 240,
    data: {
        labels: nomes,
        datasets: [{
            label: '# of Votes',
            data: numeroocorencia,
            backgroundColor: [
              'rgb(57, 3, 252)',
              'rgb(252, 3, 90)',
              '#96a99b',

            ],
            borderWidth: 1
        }]
    },
    plugins: [ChartDataLabels],
                     options: {

                plugins: {

                  datalabels: {
                    color: 'white',
                    labels: {
                      title: {
                        font: {
                          weight: 'bold',
                          size: 12,
                        }
                      }
                    }
                  }
                }
              }
       });

    }

    function ocorrenciasPorTipoPreocupacao(){
    var nomes = /*[[${nomeTipoPreocupacao}]]*/""
    var numeroocorencia= /*[[${numeroocorenciaTipoPreocupacao}]]*/""

    const ctx = document.getElementById('chart-tipo-preocupacao');

    const myChart = new Chart(ctx, {
    type: 'pie',
    height: 240,
    data: {
        labels: nomes,
        datasets: [{
            label: '# of Votes',
            data: numeroocorencia,
            backgroundColor: [
              '#4299f5',
              '#FFA726',
              '#66BB6A',
              '#EF5350',

            ],
            borderWidth: 1
        }]
    },
    plugins: [ChartDataLabels],
              options: {
                plugins: {
                  datalabels: {
                    color: 'white',
                    labels: {
                      title: {
                        font: {
                          weight: 'bold',
                          size: 12,
                        }
                      }
                    }
                  }
                }
              }
    });

    }

    function ocorrenciasPorRegiao(){
    var nomes = /*[[${nomesRegiao}]]*/""
        var numeroocorencia= /*[[${numeroocorenciaRegiao}]]*/""

        document.addEventListener("DOMContentLoaded", function () {
              window.ApexCharts && (new ApexCharts(document.getElementById('chart-regiao'), {
              chart: {
              type: "pie",
              fontFamily: 'inherit',
              height: 240,
              sparkline: {
              enabled: true
              },
              animations: {
              enabled: false
              },
              },
              fill: {
              opacity: 1,
              },
              series: numeroocorencia,
              labels: nomes,
              grid: {
              strokeDashArray: 4,
              },
              colors: ["#4299f5", "#FFA726", "#66BB6A", "#EF5350"],
              legend: {
              show: true,
              position: 'bottom',
              offsetY: 12,
              markers: {
              width: 10,
              height: 10,
              radius: 100,
              },
              itemMargin: {
              horizontal: 8,
              vertical: 8
              },
              },
              tooltip: {
              fillSeriesColor: false
              },
              })).render();
              });
    }

    function ocorrenciasPorCidade(){

    var nomes = /*[[${nomesCidades}]]*/""
        var numeroocorencia= /*[[${ocorrenciasCidade}]]*/""


        document.addEventListener("DOMContentLoaded", function () {
              window.ApexCharts && (new ApexCharts(document.getElementById('chart-cidade'), {
              chart: {
              type: "pie",
              fontFamily: 'inherit',
              height: 240,
              sparkline: {
              enabled: true
              },
              animations: {
              enabled: false
              },
              },
              fill: {
              opacity: 1,
              },
              series: numeroocorencia,
              labels: nomes,
              grid: {
              strokeDashArray: 4,

              },
              colors: ["#4299f5", "#FFA726", "#66BB6A", "#EF5350"],
              legend: {
              show: true,
              position: 'bottom',
              offsetY: 12,
              markers: {
              width: 10,
              height: 10,
              radius: 100,
              },
              itemMargin: {
              horizontal: 8,
              vertical: 8
              },
              },
              tooltip: {
              fillSeriesColor: false
              },
              })).render();
              });

    }

    function ocorrenciasPorProvincia(){

        var nomes = /*[[${nomesProvincias}]]*/""
        var numeroocorencia1= /*[[${numeroocorencia1}]]*/""
        var numeroocorencia2= /*[[${numeroocorencia2}]]*/""
        var numeroocorencia3= /*[[${numeroocorencia3}]]*/""

    const ctx = document.getElementById('chart-provincia');

    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: nomes,
            datasets: [{
                label: 'Resolvidas',
                data: numeroocorencia1,
                backgroundColor: [
                     '#66BB6A',
                ],
                borderWidth: 1
            },
            {
                label: 'Em Atendimento',
                data: numeroocorencia2,
                backgroundColor: [
                     '#FFA726',
                ],
                borderWidth: 1
            },
            {
                label: 'Não Resolvidas',
                data: numeroocorencia3,
                backgroundColor: [
                    '#EF5350',
                ],
                borderWidth: 1
            }
            ]
        },
        plugins: [ChartDataLabels],
        options: {
           plugins: {
               legend: {
                    display: true,
                    position:'top',
                    padding: 30,
                  },
                  datalabels: {
                    color: function(context) {
                      var index = context.dataIndex;
                      var value = context.dataset.data[index];
                      return value > 0 ? 'black' :  // draw negative values in red
                        value = 0 ? 'white' :      // else, alternate values in blue and green
                        'white';
                    },
                    anchor: 'end',
                    align: 'end',
                    labels: {
                      title: {
                        font: {
                          weight: 'bold',
                          size: 12,
                        }
                      }
                    }
                  }
                },

            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            }
        }
    });




        }



    function ocorrenciasPorMes(){

    var nomesMes = /*[[${nomesMeses}]]*/""
    var numeroocorencia1= /*[[${nrocorrenciasMesT}]]*/""
    var numeroocorencia2= /*[[${nrocorrenciasMesNT}]]*/""
    var numeroocorencia3= /*[[${nrocorrenciasMesI}]]*/""

    const ctx = document.getElementById('chart-combination');

    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: nomesMes,
            datasets: [{
                label: 'Resolvidas',
                data: numeroocorencia1,
                backgroundColor: [
                     '#66BB6A',
                ],
                borderWidth: 1
            },
            {
                label: 'Em Atendimento',
                data: numeroocorencia2,
                backgroundColor: [
                     '#FFA726',
                ],
                borderWidth: 1
            },
            {
                label: 'Não Resolvidas',
                data: numeroocorencia3,
                backgroundColor: [
                    '#EF5350',
                ],
                borderWidth: 1
            }
            ]
        },
        plugins: [ChartDataLabels],
        options: {
           plugins: {
                  datalabels: {
                    color: function(context) {
                      var index = context.dataIndex;
                      var value = context.dataset.data[index];
                      return value > 0 ? 'black' :  // draw negative values in red
                        value = 0 ? 'white' :      // else, alternate values in blue and green
                        'white';
                    },
                    anchor: 'end',
                    align: 'end',
                    labels: {
                      title: {
                        font: {
                          weight: 'bold',
                          size: 12,
                        }
                      }
                    }
                  }
                },

            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            }
        }
    });

    }

    </script>



    <!-- Conteudo-->
</div>
</body>


</html>
