<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}" Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>

    <style type="text/css">
.h2{
margin-top: 0;
margin-bottom: 0;
}

</style>

    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/image/log.png}" />
    <title>FIPAG - Fundo de Investimento e Património do Abastacimento de Água</title>



    <!-- PERCENTAGEM POR OCORRÊNCIAS -->

    <script type="text/javascript">



    </script>

    <!-- FIM -->

</head>
<body>
<div layout:fragment="corpo">


    <!-- Conteudo -->


    <script type="text/javascript">

function onChangeSemestre(){
var estado = document.getElementById("radioSemestre");


if(estado.value=="semestre"){
document.getElementById("semestree").style.display="block";

document.getElementById("trimestree").style.display="none";
document.getElementById("mess").style.display="none";
}
}

function onChangeTrimestre(){
var estado = document.getElementById("radioTrimestre");


if(estado.value=="trimestre"){
document.getElementById("trimestree").style.display="block";

document.getElementById("semestree").style.display="none";
document.getElementById("mess").style.display="none";
}
}

function onChangeMes(){
var estado = document.getElementById("radioMes");


if(estado.value=="mes"){
document.getElementById("mess").style.display="block";

document.getElementById("semestree").style.display="none";
document.getElementById("trimestree").style.display="none";
}
}



</script>


    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Ano</label>
                                <select id="ano" onchange="onChangeStatus()" class="form-control custom-select">
                                    <option value="selecione">selecione</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">


                    <div align="center" style="padding-top: 30px" class="card ">
                        <div style="padding-top: 8px" class="card-body">

                            <div class="form-check-inline ">
                                <label class="form-check-label">
                                    <input onchange="onChangeSemestre()" id="radioSemestre" value="semestre" name="filtro" class="form-check-input check" type="radio" checked> Semestre
                                </label>
                            </div>

                            <div style="margin-left: 10%; margin-right: 10%;" class="form-check-inline">
                                <label class="form-check-label">
                                    <input onchange="onChangeTrimestre()" id="radioTrimestre" type="radio" name="filtro" value="trimestre" class="form-check-input"> Trimestre
                                </label>
                            </div>



                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input onchange="onChangeMes()" id="radioMes" type="radio" value="mes" name="filtro" class="form-check-input" > Mês
                                </label>
                            </div>

                        </div>
                    </div>
                </div>


                <div id="semestree" class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Semestre</label>
                                <select id="semestre" onchange="onChangeStatus()" class="form-control custom-select">
                                    <option value="selecione">selecione</option>
                                    <option value="1° Semestre">1° Semestre</option>
                                    <option value="2° Semestre">2° Semestre</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div style="display: none;" id="trimestree" class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Trimestre</label>
                                <select id="trimestre" onchange="onChangeStatus()" class="form-control custom-select">
                                    <option value="selecione">selecione</option>
                                    <option value="1° Trimestre">1° Trimestre</option>
                                    <option value="2° Trimestre">2° Trimestre</option>
                                    <option value="3° Trimestre">3° Trimestre</option>
                                    <option value="4° Trimestre">4° Trimestre</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: none;" id="mess" class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Mês</label>
                                <select id="mes" onchange="onChangeStatus()" class="form-control custom-select">
                                    <option value="selecione">selecione</option>
                                    <option value="Janeiro">Janeiro</option>
                                    <option value="Fevereiro">Fevereiro</option>
                                    <option value="Março">Março</option>
                                    <option value="Abril">Abril</option>
                                    <option value="Maio ">Maio </option>
                                    <option value="Junho">Junho</option>
                                    <option value="Julho">Julho</option>
                                    <option value="Agosto">Agosto</option>
                                    <option value="Setembro">Setembro</option>
                                    <option value="Outubo">Outubo</option>
                                    <option value="Novembro">Novembro</option>
                                    <option value="Dezembro">Dezembro</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div id="botoes" class="col-sm-6 col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <a class="btn btn-outline-primary btn-md mt-2" th:href="@{/login}" role="button">
                                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
                                    <span>Filtrar</span>
                                </a>

                                <a class="btn btn-outline-primary btn-md mt-2" th:href="@{/login}" role="button">
                                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
                                    <span>Filtrar Por data</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                


            </div>
        </div>
    </div>
    
    
    
    
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
            
            
            		<div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label class="form-label">Data Inicial: </label>
                            <div class="input-icon">
								<span class="input-icon-addon">
								<i class="fe fe-calendar"></i>
								</span>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label class="form-label">Data Final: </label>
                            <div class="input-icon">
								<span class="input-icon-addon">
								<i class="fe fe-calendar"></i>
								</span>
                                <input type="date"  class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-6 col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div align="center" class="form-group">
                                <a class="btn btn-outline-primary mt-2" role="button">
                                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
                                    <span>Filtrar</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
        
     
    
    

    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style="text-transform: capitalize; font-size: 12px" >Ocorrências</div>
                                <!-- <img style="margin-left:30px; width:60px; height:100px" src="image/membro.svg" class="header-brand-img" alt="tabler logo"></img> -->
                                <!-- <i style="align" class="fe fe-home h1"></i> -->
                            </div>
                            <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">[[${totalOcorrencias}]]</span>
                            <span style="font-size:60px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0" ><i class="fas fa-list-alt"></i></span>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style="text-transform: capitalize; font-size: 12px" >Ocorrências Procedentes</div>
                                <!-- <img style="margin-left:30px; width:60px; height:100px" src="image/membro.svg" class="header-brand-img" alt="tabler logo"></img> -->
                                <!-- <i style="align" class="fe fe-home h1"></i> -->
                            </div>
                            <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">[[${totalDeOcorrenciasProcedentes}]]</span>
                            <span style="font-size:60px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0" ><i class="fas fa-arrow-alt-circle-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style="text-transform: capitalize; font-size: 12px" >Ocorrências Improcedentes</div>
                                <!-- <img style="margin-left:30px; width:60px; height:100px" src="image/membro.svg" class="header-brand-img" alt="tabler logo"></img> -->
                                <!-- <i style="align" class="fe fe-home h1"></i> -->
                            </div>
                            <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">[[${totalDeOcorrenciasImprocedentes}]]</span>
                            <span style="font-size:60px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0" ><i class="fa fa-ban"></i></span>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader" style="text-transform: capitalize; font-size: 12px" >Ocorrências Por Validar</div>
                                <!-- <img style="margin-left:30px; width:60px; height:100px" src="image/membro.svg" class="header-brand-img" alt="tabler logo"></img> -->
                                <!-- <i style="align" class="fe fe-home h1"></i> -->
                            </div>
                            <span style="color:rgb(0,0,0,0.5);margin-bottom: 25px;" class="h2">[[${totalDeOcorrenciasPorValidar}]]</span>
                            <span style="font-size:60px; padding-left:80px; color: rgba(0,0,0);margin-top:0; margin-bottom: 0" ><i class="fas fa-hourglass-half"></i></span>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>





    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">


                <div class="col-sm-6 col-lg-3">
                    <div style="background:#4299f5;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255);text-transform: capitalize; font-size: 12px;" class="subheader" >Reclamações</div>
                            </div>
                            <span style="font-size:60px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-archive"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">[[${totalDeReclamacoesProcedentes}]]</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div style="background:#EF5350;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255);text-transform: capitalize; font-size: 12px;" class="subheader" >Consultas/Sugestões/Denúcias...</div>
                            </div>
                            <span style="font-size:60px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-ban"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">[[${totalDeReclamacoesNaoProcedentes}]]</span>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-3">
                    <div style="background:#66BB6A;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255);text-transform: capitalize; font-size: 12px;" class="subheader">Reclamações Resolvidas/Respodindas</div>
                            </div>
                            <span style="font-size:60px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-calendar-check"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">[[${totalDeReclamacoesTerminadas}]]</span>

                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-3">
                    <div style="background:#FFA726;" class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div style="color:rgb(255,255,255);text-transform: capitalize; font-size: 12px;" class="subheader">Reclamações em Andamento</div>
                            </div>
                            <span style="font-size:60px; padding-right:70px; color: rgba(255,255,255,0.5);margin-top:0; margin-bottom: 0" ><i class="fa fa-calendar-alt"></i></span>
                            <span style="color:rgb(255,255,255);margin-bottom: 25px;" class="h2">[[${totalDeReclamacoesEmResolucao}]]</span>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    
    
    
     <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Ocorrências por Projecto</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-projecto"></div>
                        </div>
                    </div>



                </div>

                <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Ocorrências por Categoria</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-categoria"></div>
                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>


    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Ocorrências por Cidade</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-cidade"></div>
                        </div>
                    </div>



                </div>

                <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Ocorrências por Tipo de Origem</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-tipo-origem"></div>
                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>



    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Ocorrências por Entidade</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-entidade"></div>
                        </div>
                    </div>



                </div>

                <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="text-transform: capitalize; font-size: 12px;" >Ocorrências por Definição</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-tipo-definicao"></div>
                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>



    <script th:inline="javascript" >

    projecto();
    categoria();
    cidade();
    tipoOrigem();
    entidade();
    definicao();
    
    
function definicao(){
    	
    	
        var legendaestado = /*[[${nomesDefinicao}]]*/""
    var numeroocorencia = /*[[${ocorrenciasDefinicao}]]*/""

        document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-tipo-definicao'), {
      		chart: {
      			type: "donut",
      			fontFamily: 'inherit',
      			height: 240,
      			sparkline: {
      				enabled: true
      			},
      			animations: {
      				enabled: false
      			},
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: numeroocorencia,
      		labels: legendaestado,
      		grid: {
      			strokeDashArray: 4,
      		},
      		colors: ["#FFA726", "#66BB6A", "#EF5350", "#EF5350"],
      		legend: {
      			show: true,
      			position: 'bottom',
      			offsetY: 12,
      			markers: {
      				width: 10,
      				height: 10,
      				radius: 100,
      			},
      			itemMargin: {
      				horizontal: 8,
      				vertical: 8
      			},
      		},
      		tooltip: {
      			fillSeriesColor: false
      		},
      	})).render();
      });
    }

    function entidade(){
    	
    	
        var legendaestado = /*[[${nomesEntidade}]]*/""
    var numeroocorencia = /*[[${ocorrenciasEntidade}]]*/""

        document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-entidade'), {
      		chart: {
      			type: "donut",
      			fontFamily: 'inherit',
      			height: 240,
      			sparkline: {
      				enabled: true
      			},
      			animations: {
      				enabled: false
      			},
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: numeroocorencia,
      		labels: legendaestado,
      		grid: {
      			strokeDashArray: 4,
      		},
      		colors: ["#FFA726", "#66BB6A", "#EF5350", "#EF5350"],
      		legend: {
      			show: true,
      			position: 'bottom',
      			offsetY: 12,
      			markers: {
      				width: 10,
      				height: 10,
      				radius: 100,
      			},
      			itemMargin: {
      				horizontal: 8,
      				vertical: 8
      			},
      		},
      		tooltip: {
      			fillSeriesColor: false
      		},
      	})).render();
      });
    }


    function tipoOrigem(){

    var legendaestado = /*[[${nomesTipoOringes}]]*/""
    var numeroocorencia = /*[[${ocorrenciasOrigem}]]*/""

        document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-tipo-origem'), {
      		chart: {
      			type: "donut",
      			fontFamily: 'inherit',
      			height: 240,
      			sparkline: {
      				enabled: true
      			},
      			animations: {
      				enabled: false
      			},
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: numeroocorencia,
      		labels: legendaestado,
      		grid: {
      			strokeDashArray: 4,
      		},
      		colors: ["#FFA726", "#66BB6A", "#EF5350", "#EF5350"],
      		legend: {
      			show: true,
      			position: 'bottom',
      			offsetY: 12,
      			markers: {
      				width: 10,
      				height: 10,
      				radius: 100,
      			},
      			itemMargin: {
      				horizontal: 8,
      				vertical: 8
      			},
      		},
      		tooltip: {
      			fillSeriesColor: false
      		},
      	})).render();
      });

    }

    function cidade(){

    var legendaestado = /*[[${nomesCidades}]]*/""
    var numeroocorencia = /*[[${ocorrenciasCidade}]]*/""

        document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-cidade'), {
      		chart: {
      			type: "donut",
      			fontFamily: 'inherit',
      			height: 240,
      			sparkline: {
      				enabled: true
      			},
      			animations: {
      				enabled: false
      			},
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: numeroocorencia,
      		labels: legendaestado,
      		grid: {
      			strokeDashArray: 4,
      		},
      		colors: ["#FFA726", "#66BB6A", "#EF5350", "#EF5350"],
      		legend: {
      			show: true,
      			position: 'bottom',
      			offsetY: 12,
      			markers: {
      				width: 10,
      				height: 10,
      				radius: 100,
      			},
      			itemMargin: {
      				horizontal: 8,
      				vertical: 8
      			},
      		},
      		tooltip: {
      			fillSeriesColor: false
      		},
      	})).render();
      });

    }


        function projecto(){
            var legendaestado = /*[[${legendaestado}]]*/""
                        var numeroocorencia = /*[[${ocorrencias}]]*/""

                        // @formatter:off
                        document.addEventListener("DOMContentLoaded", function () {
                        window.ApexCharts && (new ApexCharts(document.getElementById('chart-projecto'), {
                        chart: {
                        type: "bar",
                        fontFamily: 'inherit',
                        height: 320,
                        parentHeightOffset: 0,
                        toolbar: {
                        show: false,
                        },
                        animations: {
                        enabled: false
                        },
                        },
                        plotOptions: {
                        bar: {
                        columnWidth: '50%',
                        }
                        },
                        dataLabels: {
                        enabled: false,
                        },
                        fill: {
                        opacity: 1,
                        },
                        series: [{
                        name: "OCORRÊNCIAS POR CATEGORIA",
                        data: numeroocorencia
                        }],
                        grid: {
                        padding: {
                        top: -20,
                        right: 0,
                        left: -4,
                        bottom: -4
                        },
                        strokeDashArray: 4,
                        },
                        xaxis: {
                        labels: {
                        padding: 0,
                        },
                        tooltip: {
                        enabled: false
                        },
                        axisBorder: {
                        show: false,
                        },
                        categories: legendaestado,
                        },
                        yaxis: {
                        labels: {
                        padding: 4
                        },
                        },
                        colors: ["#FFA726"],
                        legend: {
                        show: false,
                        },
                        })).render();
                        });
                        // @formatter:on
                                }



                        function categoria(){
                            var legendaCategoria = /*[[${legendaCategoria}]]*/""
                        var nrocorrenciasCategoria = /*[[${nrocorrenciasCategoria}]]*/""

                        // @formatter:off
                            document.addEventListener("DOMContentLoaded", function () {
                            window.ApexCharts && (new ApexCharts(document.getElementById('chart-categoria'), {
                            chart: {
                            type: "bar",
                            fontFamily: 'inherit',
                            height: 320,
                            parentHeightOffset: 0,
                            toolbar: {
                            show: false,
                            },
                            animations: {
                            enabled: false
                            },
                            },
                            plotOptions: {
                            bar: {
                            columnWidth: '50%',
                            }
                            },
                            dataLabels: {
                            enabled: false,
                            },
                            fill: {
                            opacity: 1,
                            },
                            series: [{
                            name: "OCORRÊNCIAS POR CATEGORIA",
                            data: nrocorrenciasCategoria
                            }],
                            grid: {
                            padding: {
                            top: -20,
                            right: 0,
                            left: -4,
                            bottom: -4
                            },
                            strokeDashArray: 4,
                            },
                            xaxis: {
                            labels: {
                            padding: 0,
                            },
                            tooltip: {
                            enabled: false
                            },
                            axisBorder: {
                            show: false,
                            },
                            categories: legendaCategoria,
                            },
                            yaxis: {
                            labels: {
                            padding: 4
                            },
                            },
                            colors: ["#EF5350"],
                            legend: {
                            show: false,
                            },
                            })).render();
                            });
                            // @formatter:on
                        }

                    </script>



    <!-- Conteudo-->
</div>
</body>


</html>