<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>FIPAG</title>
</head>
<body>
<div  layout:fragment="corpo">
    <!-- Conteudo -->

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Registar Posto</h3>
        </div>
        <div class="card-body">
		<form th:action="@{/postos/editar}" 
	                  th:object="${posto}" method="POST">
	                  
	        <input type="hidden" th:field="*{id}" class="form-control" placeholder="Designação...">          
			
            <div class="row" >

                <div class="col-6 col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Designação</label>
                        <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <i class="fe fe-user"></i>
                                    </span>
                            <input type="text" th:field="*{designacao}" class="form-control" placeholder="Designação...">
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="card-footer text-right">
            <button type="submit" class="btn btn-success">Editar </button>
        </div>
          </form>





        </div>
        
    </div>
    <!-- Conteudo-->
</div>
</body>
</html>