<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"  Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>FIPAG</title>
</head>
<body>
<div  layout:fragment="corpo">
    <!-- Conteudo -->
    
    

    <div class="col-12">
	    <a class="btn btn-primary btn-md mb-3" th:href="@{/registar/tipoAlerta}" role="button">
		 	<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
		     <span>Novo Tipo de Alerta</span>
		</a>
    
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">TIPOS DE ALERTA</h3>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap">
                    <thead>
                    <tr>
                        <th class="w-1">No.</th>
                        <th>Designação</th>
                        <th></th>
                       <!--  <th></th> -->
                    </tr>
                    </thead>
                    <tbody>
                   <!--  <tr th:each="p : ${tipoAlertas}"> -->
                    <tr th:each="p : ${pageTipoAlerta.registros}">
                        <td th:text="${p.id}"><span class="text-muted">01401</span></td>
                         <td th:text="${p.designacao}">Auxiliar Contábil</td>
                        <td>
                            <a class="icon" th:href="${'/tipoAlertas/editar/'+p.id}">
                                <i class="fe fe-edit"></i>
                            </a>
                        </td>
                        
                        <!-- <td>
                            <a class="icon" th:href="${'/tipoAlertas/excluir/'+p.id}">
                                <i class="fe fe-trash-2"></i>
                            </a>
                        </td> -->
                    </tr>
                    
                    
                    </tbody>
                </table>
                
            </div>
				  
        </div>
    </div>
    			<nav aria-label="Page navigation example">
				  	<ul class="pagination justify-content-center">
				  	
				  	 <li th:class="${pageTipoAlerta.pagina == 1} ? 'page-item disabled' : 'page-item'">
				      <a class="page-link" th:href="@{/listar/tipoAlerta(page=${1})}" tabindex="-1">Primeira</a>
				    </li>
				    
				    <li th:class="${pageTipoAlerta.pagina == 1} ? 'page-item disabled' : 'page-item'">
				      <a class="page-link" th:href="@{/listar/tipoAlerta(page=${pageTipoAlerta.pagina - 1})}" tabindex="-1">Anterior</a>
				    </li>
				    
				    <li class="page-item">
				    	<span class="page-link" th:text="|${pageTipoAlerta.pagina} de ${pageTipoAlerta.totalDePaginas}|"></span>
				    </li>
				    
				    <li th:class="${pageTipoAlerta.pagina == pageTipoAlerta.totalDePaginas} ? 'page-item disabled' : 'page-item'">
				      <a class="page-link" th:href="@{/listar/tipoAlerta(page=${pageTipoAlerta.pagina + 1})}">Próxima</a>
				    </li>
				    
				    <li th:class="${pageTipoAlerta.pagina == pageTipoAlerta.totalDePaginas} ? 'page-item disabled' : 'page-item'">
				      <a class="page-link" th:href="@{/listar/tipoAlerta(page=${pageTipoAlerta.totalDePaginas})}" tabindex="-1">Última</a>
				    </li>
				    
				  </ul>
				</nav>

    <!-- Conteudo-->
</div>
</body>
</html>